<ion-header class="loggedin-header ion-align-self-center">
  <ion-toolbar class="new-background-color ion-align-self-center ion-justify-content-center">
      <ion-buttons  slot="start" >
          <ion-menu-button class="spa-side-menu"></ion-menu-button>
          <ion-back-button color="white"></ion-back-button>
      </ion-buttons>   
      <ion-title>{{ 'MAP.title' | translate }}</ion-title>       
  </ion-toolbar>
</ion-header>
<ion-content class="province-popup-wrapper ion-no-padding map-sp">
  <div *ngIf="data">
    <div class="content-box" #map_content_box *ngIf="data" [innerHTML]="data.content | safe: 'html'"></div> 
  </div>
  
  <div id="button_box" *ngIf="data && data.images">
    <div *ngIf="appLang === 'ar'">
    <a *ngFor="let image of data.images; let i = index; " (click)="getImage(image)"> احفظ الصورة {{(data.images.length>1)?i+1:''}}</a>
  </div>
  <div *ngIf="appLang === 'en'">
    <a *ngFor="let image of data.images; let i = index; " (click)="getImage(image)">Download Image {{(data.images.length>1)?i+1:''}}</a>
  </div>
  <div *ngIf="appLang === 'fr'">
    <a *ngFor="let image of data.images; let i = index; " (click)="getImage(image)">Télécharger l'image {{(data.images.length>1)?i+1:''}}</a> 
  </div>
  </div>
</ion-content>
