@import "../../theme/ionic-mixin.scss";
.loggedin-header{
    @include common-header();
}
#button_box{
    display: flex;
    justify-content: center;
    a{
        border: 1px solid #00a14d;
        padding: 10px;
        margin: 10px 5px;
        border-radius: 50px;
        background-color: #00a14d;
        font-family: "OpenSans-Semibold";
        font-size: 14px;
        color: #ffffff;
    }
}

