<!-- <h2 (click)="toggleAccordion()">
  <ion-icon ios="logo-buffer" md="logo-buffer" src="../assets/images/path.svg"></ion-icon>
  {{ name }}
  <ion-icon ios="ios-arrow-down" md="md-arrow-down"></ion-icon>
   <span *ngIf="isMenuOpen">&#9650;</span>
   <span *ngIf="!isMenuOpen">&#9660;</span>
</h2> -->
<div class="lesson-box" [ngClass]="{'lesson-inactive': index > currentIndex }" >
  <ion-grid (click)="toggleAccordion()" class="lessons" [ngClass]="this.isMenuOpen ? 'parent-active' : 'parent-inactive'">
    <ion-row>
      <ion-col class="ion-no-padding path-icon" size="1"><ion-icon ios="logo-buffer" md="logo-buffer" src="../assets/images/path.svg"></ion-icon></ion-col>
      <ion-col size="10" class="lesson">
        <h2 class="lesson-title" [innerHTML]="name | safe: 'html'"></h2>
        <p class="lesson-index" [innerHTML] ="shortText | safe: 'html'" ></p>
      </ion-col>
      <ion-col size="1">
        <!-- <ion-icon *ngIf="isMenuOpen" ios="ios-arrow-up" md="md-arrow-up" src="../assets/images/arrow-up-black.svg"></ion-icon>
        <ion-icon *ngIf="!isMenuOpen" ios="ios-arrow-down" md="md-arrow-down" src="../assets/images/arrow-down-black.svg"></ion-icon> -->
      </ion-col>
    </ion-row>
  </ion-grid>

  <div  class="lesson-expand"
    [ngClass]="this.isMenuOpen ? 'active' : 'inactive'">
    <ion-row class="desc-box">
      <ion-col size="1" class="less-exp-size-1"></ion-col>
      <ion-col size="10" class="lesson-description">      
        <p [innerHTML]="description | safe: 'html'"></p>
        <!-- <p >{{ description }}</p>         -->
      </ion-col>
      <ion-col size="1" class="less-exp-size-1">
      </ion-col>
    </ion-row>
    <ion-row class="read-more-box">
      <ion-col class="ion-text-end" *ngIf="index <= currentIndex">
        <ion-router-link [routerLink]="['/start/tabs','lessons', moduleId, id]"  routerDirection="root" >{{ readMore }}</ion-router-link>
      </ion-col>
      <ion-col class="ion-text-end" *ngIf="index > currentIndex">
        <ion-router-link [ngClass]="{'lesson-inactive': index > currentIndex }" >{{ readMore }}</ion-router-link>
      </ion-col>
      
    </ion-row>

  </div>
</div>