@import "../../../theme/ionic-mixin.scss";

.lesson-box{

    box-shadow: 0 3px 6px 0px rgba(0, 62, 109,.29);
    .lessons{
        
        .lesson-title{
            @include set-font('OpenSans-SemiBold', 16px, #000000);
            text-transform: uppercase;
            margin:0px;
        }
        .lesson-index{
            @include set-font('OpenSans-SemiBold', 12px, #80BEC1);
            text-transform: uppercase;
            margin:0px;
        }  
        .path-icon{
            ion-icon{
                font-size: 20px;
                padding-top: 5px;
            }
        } 
        &.parent-inactive{
            padding: 19px 19px 19px 19px;
            margin-bottom: 10px;
        }
        &.parent-active{
            padding: 19px 19px 0px 19px;
            margin-bottom:0px;
        }

    }
    
    .lesson-expand{
        .desc-box{
            padding: 0px 19px 19px 19px;
            border-bottom: 1px solid #003E6D29 ;
            p{
                @include set-font('OpenSans-Regular', 12px, #333333);
                margin:0px;
            }
        }
        .read-more-box {
            padding: 10px 19px;
            ion-router-link {
                @include set-font('OpenSans-SemiBold', 12px, #333333);
                text-transform: uppercase;
                &.lesson-inactive{
                    opacity: .5;
                }
            }
            
        }
        &.active{
            margin-bottom: 10px;
        }
    }
    &.lesson-inactive{
        opacity: .5;
    }
}

 /* Following classes display/hide the 'menu'
 // based on the state change detection in the
 // component class */
 .active {
    display: block
 }

 .inactive {
    display: none;
 }