@import "../../../theme/ionic-mixin.scss";
.register-popover-content {
    padding: 15px;
    h4 {
        @include set-font('Raleway-Bold', 16px, #1267ac);
    }
    p{
        @include set-font('OpenSans-Regular', 14px, #1267ac);
    }
}