<ion-header class="loggedin-header ion-align-self-center">
  <ion-toolbar class="new-background-color ion-align-self-center ion-justify-content-center">
      <ion-buttons  slot="start" >
          <ion-menu-button class="spa-side-menu"></ion-menu-button>
          <ion-router-link [routerLink]="['/start/tabs','lessons', moduleId, lessonId]" class="custom-arrow-back"  routerDirection="root" >
            <ion-icon name="arrow-back"></ion-icon>
          </ion-router-link>
      </ion-buttons>      
      <ion-title>{{ 'QUIZ.title' | translate }}</ion-title>     
  </ion-toolbar>
</ion-header>

<ion-content class="quiz-page ion-padding">

  <ion-grid *ngIf="quizInfo">

    <!-- <button id='get_certificate' class='get_certificate button-style'  (click)="download()">Get Your Certificate</button> -->
    <div *ngIf= "!quizResponseStatus">
      <form class="quiz-form" [formGroup]="quizForm" (ngSubmit)="submitQuiz(quizForm)"  >

          <div *ngIf="quizInfo.questions">
            <ion-row *ngFor="let question of quizInfo.questions; let i=index">
              <ion-col *ngIf="question.question_type == 1"> 
                <h2>{{i+1}}- {{question.question}}</h2>
                <ion-list class="question-options">
                  <ion-radio-group formControlName="question_{{i}}" value=''>
                    <ion-item class="question-option" no-lines  *ngFor="let opt of question.question_options let j=index">
                      <ion-label class="arabic-labels">{{alphabets[j]}}. {{opt.question_option}} </ion-label>
                      <ion-radio value="{{ quizInfo.quizNoTranslate.questions[i].question_options[j].question_option}}"  slot="start" color="success" ></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-list>
              </ion-col>

              <ion-col *ngIf="question.question_type == 2"> 
                <h2>{{i+1}}- {{question.question}}</h2>
                <ion-list class="question-options">
                  <ion-item class="question-option" no-lines  *ngFor="let opt of question.match_the_following_option_set; let i = index">
                    <ion-label class="arabic-labels">{{alphabets[i]}}. {{opt.option_set_1}}</ion-label>                  
                  </ion-item>                
                </ion-list>
                <ion-list class="question-options">
                  <ion-item class="question-option" no-lines  *ngFor="let opt of question.match_the_following_option_set; let i = index">
                    <ion-label class="arabic-labels">{{i+1}}. {{opt.option_set_2}}</ion-label>                  
                  </ion-item>  
                  <ion-item>
                    <ion-input formControlName="question_{{i}}" ></ion-input>                  
                  </ion-item>  
                  <ion-item class="question-option" no-lines>
                    <p class="quiz-hint">{{ 'QUIZ.hint' | translate }}</p>      
                  </ion-item>
                        
                </ion-list>
              </ion-col>

            </ion-row>
            <ion-row lines="none">
              <ion-col>    
                <ion-button  class="ion-no-margin quiz-buttons" size="large" expand="full" type="submit" expand="full" color="#1AAE9F">
                  {{ 'QUIZ.submit' | translate }}
                </ion-button>      
              </ion-col>
            </ion-row>
          </div> 

      </form>
    </div>
    <ion-row>
      <ion-col>
        <div class="quiz-response ion-text-center" *ngIf="quizResponseStatus">
          <h2>{{ 'QUIZ.result' | translate }}:</h2>
          <div class="quiz-response-msg">
              <h2>{{right}} {{ 'QUIZ.of' | translate }} {{total}} </h2>
              <h4 class='{{msgCls}}'>{{msg}}</h4>             
          </div>
          <div class="quiz-response-footer">
            <button id='get_certificate' class='get_certificate button-style' *ngIf="lessonId == lastLesson && quizResponse.status == 1 && moduleId != 3640" (click)="getCertificate()">{{ 'QUIZ.getYourCertificate' | translate }}</button>
            <ion-router-link *ngIf="lessonId != lastLesson && quizResponse.status == 1" expand=full class="button-style get_certificate" id='next_lesson' [routerLink]="['/start/tabs','lessons', moduleId, nextLesson ]"  routerDirection="forward" >{{ 'QUIZ.nextLesson' | translate }}</ion-router-link>
            <button class="button-style" id='btn_back_quiz' name='btn_back_quiz' (click) = "backToQuiz();">{{ 'QUIZ.backToQuiz' | translate }}</button>
            <p class="footer-note">*{{ 'QUIZ.note' | translate }} </p>
            <p class="error_msg"></p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!quizInfo">
    <ion-row>
      <ion-col>
        <p class="no-dataavailable">{{ noData }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
