@import "../../theme/ionic-mixin.scss";

.loggedin-header{
    @include common-header();
}

.quiz-page{
    .quiz-form{
        h2{
            @include set-font('OpenSans-SemiBold', 14px ,#333333);
        }
        .question-options{

            margin-bottom: 0px;
            .question-option{
                --border-color: #fff;
                ion-label{
                    @include set-font('OpenSans-Regular', 14px ,#333333);
                    white-space: normal;
                }
                ion-radio {
                    --color: #00A14D ;
                    --ion-color-success: #00A14D ;
                    color: #00A14D ;
                    // border: 1px solid #00A14D ;
                    border-radius: 50%;
                    // width: 24px;
                    // padding: 0px 0px 1px 1px;
                    margin-left: -15px;
                    .radio-inner {
                        width: 30%;
                        height: 30%;
                        border-radius: 50%;
                        border-color: #00A14D  !important;
                    }
                }
                .quiz-hint {
                    @include set-font('OpenSans-Regular', 12px ,#333333);
                    font-style: italic;
                    margin: 0px;
                }
                
            }
        }
        .quiz-buttons {
            @include button-style();
            padding:5px;
            width:100%;
            height: 55px;
            margin-top:25px;
            background-color: #80BEC1;
        }
        
    }
    .quiz-response{
        h2 {
            @include set-font('Raleway-Bold', 22px ,#000);
        }
        h4 {
            @include set-font('Raleway-Bold', 16px ,#1aae9f); 
            &.error{
                color: red;
            }
        }   
        ion-router-link {
            justify-content: center;
            align-items: center;
            width: 100%;
            display: flex;
        }     
        .button-style {
            @include button-style();
            padding:5px;
            width:100%;
            height: 55px;
            margin-top:25px;
            background-color: #80BEC1;
        }
        p {
            @include set-font('Raleway-Bold', 12px ,red);
            font-style: italic;
            text-align: center;
        }
    }
}
