<ion-header class="loggedin-header ion-align-self-center">
  <ion-toolbar class="new-background-color ion-align-self-center ion-justify-content-center">    
      <ion-title>{{province}}</ion-title>
      <ion-buttons slot="end">
        <ion-icon class="popup-close" (click)="dismissModal()" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content > 
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <img src={{img}} />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>