<ion-header class="loggedin-header ion-align-self-center">
  <ion-toolbar class="new-background-color ion-align-self-center ion-justify-content-center">
      <ion-buttons  slot="start" >
          <ion-menu-button class="spa-side-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ 'aboutUs' | translate }}</ion-title>    
  </ion-toolbar>
</ion-header>
<ion-content class="about-page ion-pading ion-align-self-center" >
  
  <ion-grid *ngIf="aboutData.post_title">

    <ion-row class="" >
      <ion-col  size="12" class="about-image">
        <div *ngIf="aboutData.banner_image"><ion-img  [src]="aboutData.banner_image"></ion-img></div>
        <!-- <ion-img src="../../assets/images/about.png"></ion-img> -->
      </ion-col>
      <ion-col  size="12" class="about-content-top-container">
        <div class="about-content-top">
          <div class="about-content-p" *ngIf="aboutData.post_content" [innerHTML]="aboutData.post_content | safe: 'html'">
          </div>
          <!-- <p>
            E-Start is funded by the Canadian government (IRCC – Immigration, Refugees and Citizenship Canada). E-Start supports refugees from all over the world with online learning modules. The E-Start team provides updated employment-related information for refugees to find their first job in Canada. </p>
            <p>E-Start met with employers and newcomers and created lessons based on their employment experiences and suggestions. E-Start’s goal is to give refugees the employment-related resources they need before they arrive in Canada. </p>
            <p>E-Start’s program is for refugees who are granted to come to Canada and have a UCI number (Unique Client Identifier).
          </p> -->
        </div>        
      </ion-col>
    </ion-row>
    <ion-row class="about-content-bottom-container">
      <ion-col class="about-content-bottom">
        <div *ngIf="aboutData.organization_content" [innerHTML]="aboutData.organization_content | safe: 'html'">
        </div>
        <!-- <h2>Our Organization</h2>
        <p>Established in 1973 and incorporated in 1974, S.U.C.C.E.S.S. is one of the largest social service agencies in British Columbia, Canada. S.U.C.C.E.S.S. empowers people on their Canadian journey to achieve their goals through services and advocacy that promote belonging, wellness and independence.</p> -->
        <!-- <ion-router-link  class="about-btn" [routerLink]="['/register' ]" routerDirection="forward" >{{aboutData.button_name}}</ion-router-link> -->

      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid *ngIf="!aboutData.post_title">
    <ion-row>
      <ion-col>
        <p class="no-dataavailable">{{ noData }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
