<ion-header class="loggedin-header ion-align-self-center">
  <ion-toolbar class="new-background-color ion-align-self-center ion-justify-content-center">
      <ion-buttons  slot="start" >
          <ion-menu-button class="spa-side-menu"></ion-menu-button>
      </ion-buttons>   
      <ion-title>{{ 'MAP.title' | translate }}</ion-title>       
  </ion-toolbar>
</ion-header>
<ion-content class="maps-page ion-padding" >
  <ion-grid *ngIf = "data">
    <ion-row>
      <ion-col>
        <ion-img *ngIf="data[0].image" src="{{data[0].image}}"></ion-img>        
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col >
          <div class="map-content-p" *ngIf="data[0].post_content" [innerHTML]="data[0].post_content | safe: 'html'"></div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-justify-content-center">
        <ion-router-link  class="explore-now-btn" [routerLink]="['/start/tabs','map-explore' ]" routerDirection="forward" >{{ 'MAP.exploreNow' | translate }}</ion-router-link>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf = "!data">
    <ion-row>
      <ion-col>
        <p class="no-dataavailable">{{ noData }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
