@import "../../theme/ionic-mixin.scss";
.loggedin-header{
    @include common-header();
}

.maps-page {
    ion-router-link{
        @include button-style-default();            
        text-transform: uppercase;
        --box-shadow: none;
        text-transform: uppercase;
        --box-shadow: none;
        width: 200px;
        height: 55px;
        display: inline-block;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 25px;
    }
}