@import "../../theme/ionic-mixin.scss";
.loggedin-header{
    @include common-header();
}
.resources-page {
    .resources-image{
        padding: 10px 14px 0px 14px;
    }
    .resources-content-top-container{
  
        padding: 0px 14px 0px 14px; 
        .resources-content-top{
            background-color: #FBFBFB;
            border: 1px solid #E8E8E8;
            padding: 20px 16px 24px 16px;
            p , div {
                @include set-font('OpenSans-Regular', 16px, #333333);
                margin-bottom: 16px;
            }   
        }
    }

    .row-resource-tabs{
        padding-top: 30px;
        .resource-tabs-col{
            padding: 10px 14px 0px 14px;
        }
        .resource-tab-top{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            .tab-single-title{
                flex: 1;
                display: flex;
                padding: 0;
                border: none;
                background: transparent;
                margin-right: 6px;
                &:last-child{
                    margin-right: 0;
                }
                &.segment-button-checked{
                    div{
                        margin-bottom: 0px;
                        background-color: #1267AC;
                        padding:15px 10px;
                        color:#fff;
                    }
                }
                div{
                   
                    // line-height: 22px;
                    text-align: left;
                    margin-bottom: 10px;
                    // padding: 10px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    background-color: #F4F6F9;
                    border: 2px solid #DCE4E9;
                    font-family: 'Raleway-SemiBold';
                    @include set-font-default('Raleway-SemiBold', 11px, #000);
                    border-radius: 7px;
                }
                
            }
        }
        .resource-tab-content{
            .tab-content-box{
                .tab-card{
                    border: 2px solid #DCE4E9;
                    margin: 20px 0;
                    .tab-card-header{
                        padding-bottom: 5px;
                    }
                    .tab-info-title{
                        @include set-font('OpenSans-Bold', 18px, #000000);
                        // line-height: 22px;
                        margin-bottom: 15px;
                    }
                    .tab-info-url{
                        @include set-font('OpenSans-Regular', 16px, #1267AC);
                        // line-height: 19px;
                        text-transform: initial;
                        &:visited , &:active, &:hover{
                            opacity: .9;
                        }
                    }
                    .tab-info-desc{
                        @include set-font('OpenSans-Regular', 16px, #000000);
                        // line-height: 22px;
                    }
                }
            }
        }

        
    }
   
}
.no-result{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}