<ion-header class="loggedin-header ion-align-self-center">
  <ion-toolbar
    class="new-background-color ion-align-self-center ion-justify-content-center"
  >
    <ion-buttons slot="start">
      <ion-menu-button class="spa-side-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'resources' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="resources-page ion-pading ion-align-self-center">
  <ion-grid class="" *ngIf="resourcesData.ID">
    <ion-row class="">
      <ion-col size="12" class="resources-image">
        <div *ngIf="resourcesData.banner_image">
          <ion-img [src]="resourcesData.banner_image"></ion-img>
        </div>
      </ion-col>
      <ion-col size="12" class="resources-content-top-container">
        <div class="resources-content-top">
          <div
            *ngIf="resourcesData.post_content"
            [innerHTML]="resourcesData.post_content | safe: 'html'"
          ></div>
        </div>
      </ion-col>
    </ion-row>
    <ion-item *ngIf="appLang === 'en'">
      <ion-label>Select a Province or Territory</ion-label>
      <ion-select (ionChange)="selectProvince($event.target.value)">
        <ion-select-option value="all">All</ion-select-option>
        <ion-select-option value="british">British Columbia</ion-select-option>
        <ion-select-option value="alberta">Alberta</ion-select-option>
        <ion-select-option value="saskatchewan">Saskatchewan</ion-select-option>
        <ion-select-option value="manitoba">Manitoba</ion-select-option>
        <ion-select-option value="ontario">Ontario</ion-select-option>
        <ion-select-option value="quebec">Quebec</ion-select-option>
        <ion-select-option value="nova">Nova Scotia</ion-select-option>
        <ion-select-option value="Newbrunswick">New Brunswick</ion-select-option>
        <ion-select-option value="edwardisland" >Prince Edward Island</ion-select-option>
        <ion-select-option value="newfoundland">Newfoundland and Labrador</ion-select-option>
        <ion-select-option value="yukon">Yukon</ion-select-option>
        <ion-select-option value="northwes">Northwest Territories</ion-select-option>
        <ion-select-option value="nunavut">Nunavut</ion-select-option> 
      </ion-select>
    </ion-item>


    <ion-item *ngIf="appLang === 'ar'">
      <ion-label>حدد مقاطعة أو منطقة</ion-label>
      <ion-select (ionChange)="selectProvince($event.target.value)">
      <ion-select-option value="all">الجميع</ion-select-option>
      <ion-select-option value="british">كولومبيا البريطانية</ion-select-option>
      <ion-select-option value="alberta">البرتا</ion-select-option>
      <ion-select-option value="saskatchewan">ساسكاتشوان</ion-select-option>
      <ion-select-option value="manitoba">مانيتوبا</ion-select-option>
      <ion-select-option value="ontario">اونتاريو</ion-select-option>
      <ion-select-option value="quebec">كيبيك</ion-select-option>
      <ion-select-option value="nova">نوفا سكوتيا</ion-select-option>
      <ion-select-option value="Newbrunswick">نيو برونزويك</ion-select-option>
      <ion-select-option value="edwardisland">جزيرة الأمير إدوارد</ion-select-option>
      <ion-select-option value="newfoundland">نيوفاوندلاند ولابرادور</ion-select-option>
      <ion-select-option value="yukon">يوكون</ion-select-option>
      <ion-select-option value="northwes">الأقاليم الشمالية الغربية</ion-select-option>
      <ion-select-option value="nunavut">نونافوت</ion-select-option>
     </ion-select>
  </ion-item>  

  <ion-item *ngIf="appLang === 'fa'">
    <ion-label>یک استان یا منطقه را انتخاب کنید</ion-label>
    <ion-select (ionChange)="selectProvince($event.target.value)">
    <ion-select-option value="all">Toute</ion-select-option>
    <ion-select-option value="british">بریتیش کلمبیا</ion-select-option>
    <ion-select-option value="alberta">آلبرتا</ion-select-option>
    <ion-select-option value="saskatchewan">ساسکاچوان</ion-select-option>
    <ion-select-option value="manitoba">مانیتوبا</ion-select-option>
    <ion-select-option value="ontario">انتاریو</ion-select-option>
    <ion-select-option value="quebec">کبک</ion-select-option>
    <ion-select-option value="nova">نوا اسکوشیا</ion-select-option>
    <ion-select-option value="Newbrunswick">نیوبرانزویک</ion-select-option>
    <ion-select-option value="edwardisland">جزیره پرنس ادوارد</ion-select-option>
    <ion-select-option value="newfoundland">نیوفاندلند و لابرادور</ion-select-option>
    <ion-select-option value="yukon">یوکان</ion-select-option>
    <ion-select-option value="northwes">سرزمینهای شمال غربی</ion-select-option>
    <ion-select-option value="nunavut">نوناووت</ion-select-option>
   </ion-select>
</ion-item>


  <ion-item *ngIf="appLang === 'fr'">
    <ion-label>Sélectionnez une province ou un territoire</ion-label>
    <ion-select (ionChange)="selectProvince($event.target.value)">
    <ion-select-option value="all">Toute</ion-select-option>
    <ion-select-option value="british">Colombie-Britannique</ion-select-option>
    <ion-select-option value="alberta">Alberta</ion-select-option>
    <ion-select-option value="saskatchewan">Saskatchewan</ion-select-option>
    <ion-select-option value="manitoba">Manitoba</ion-select-option>
    <ion-select-option value="ontario">Ontario</ion-select-option>
    <ion-select-option value="quebec">Québec</ion-select-option>
    <ion-select-option value="nova">Nouvelle-Écosse</ion-select-option>
    <ion-select-option value="Newbrunswick">Nouveau Brunswick</ion-select-option>
    <ion-select-option value="edwardisland">Île-du-Prince-Édouard</ion-select-option>
    <ion-select-option value="newfoundland">Terre-Neuve</ion-select-option>
    <ion-select-option value="yukon">Yukon</ion-select-option>
    <ion-select-option value="northwes">Territoires du Nord-Ouest</ion-select-option>
    <ion-select-option value="nunavut">Nunavut</ion-select-option>
   </ion-select>
</ion-item>

    <ion-row class="row-resource-tabs">
      <ion-col size="12" class="resource-tabs-col">
        <ion-segment
          [(ngModel)]="segment"
          *ngIf="tabs"
          class="resource-tab-top"
        >
          <ion-segment-button
            tappable
            value="{{ tab.tab_name }}"
            *ngFor="let tab of resourcesData.tab_info"
            class="tab-single-title "
          >
            <div text-wrap>{{ tab.tab_name }}</div>
          </ion-segment-button>
        </ion-segment>

        <div [ngSwitch]="segment">
          <ng-container *ngFor="let tab of resourcesData.tab_info">
            <div *ngSwitchCase="tab.tab_name" class="resource-tab-content">
              <div class="tab-content-box" *ngIf="tab.details">
                <ion-card class="tab-card" *ngFor="let tabinfo of tab.details">
                  <ion-card-header class="tab-card-header">
                    <ion-card-title class="tab-info-title">{{tabinfo.tab_title}}</ion-card-title>
                    <ion-card-subtitle>
                      <a
                        target="_blank"
                        class="tab-info-url"
                        (click)="openBrowser(tabinfo.tab_url)"
                        >{{tabinfo.tab_url}}</a>
                    </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content class="tab-info-desc">
                    {{tabinfo.tab_short_description}}
                  </ion-card-content>
                </ion-card>
              </div>


              <!-- No result found -->
            

              <div class="tab-content-box" *ngIf="tab.details.length == 0"> 
                    <ion-card-title class="tab-info-title no-result">No results found.</ion-card-title>
              </div>


            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!resourcesData.ID">
    <ion-row>
      <ion-col>
        <p class="no-dataavailable">{{ noData }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>