<ion-header></ion-header>

<ion-content class="ion-padding login-page">
  <ion-grid class="logo-container" >
    <ion-row>
      <ion-col class="ion-text-center">
          <ion-router-link color="#A9D193" [routerLink]="['/start/tabs/home']" routerDirection="forward" ><ion-img class="logo-image" width="158px" height="161px" src="/assets/images/login-logo.png"></ion-img></ion-router-link>
          <h2 class="logo-title">{{ 'LOGIN.title' | translate}}</h2>
          <p class="logo-desc">{{ 'LOGIN.subtitle' | translate}}</p>
      </ion-col>
    </ion-row>  
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login(loginForm)" id="ngForm" #loginFooter="ngForm">
      <ion-row lines="none" class="login-form-group">
          <ion-col>
              <ion-label class="login-labels" position="stacked">{{ 'LOGIN.username' | translate}}</ion-label>
              <ion-input class="login-inputs" formControlName="username" type="text" ></ion-input>
              <div class="error" *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">
                {{ 'LOGIN.validationMsg' | translate}}
              </div>
          </ion-col>      
      </ion-row>
  
      <ion-row lines="none" class="login-form-group">
        <ion-col>
          <ion-label class="login-labels" position="stacked">{{ 'LOGIN.password' | translate}}</ion-label>
          <ion-input class="login-inputs" type="password" formControlName="password" name="password"></ion-input>
          <div class="error" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
            {{ 'LOGIN.validationMsg' | translate}}
          </div>
        </ion-col>      
      </ion-row>
      <ion-row lines="none">
        <ion-col>
          <!-- <p class="ion-text-end forgot-text" (click)="forgot()">Forgot Password?</p> -->
          <p class="ion-text-end forgot-text" ><a color="#A9D193" href="forgot">{{ 'LOGIN.forgot' | translate}}</a></p>
        </ion-col>      
      </ion-row>
      <ion-row lines="none">
        <ion-col>
          <ion-button [disabled]="!loginForm.valid" class="ion-no-margin sign-in-buttons" size="large" expand="full" type="submit" expand="full" color="#1AAE9F">
            {{ 'LOGIN.signin' | translate}}            
          </ion-button>      
        </ion-col>      
      </ion-row>
      <p class="register-text">{{ 'LOGIN.newuser' | translate}} <ion-router-link color="#A9D193" [routerLink]="['/register']" routerDirection="forward" >{{ 'LOGIN.signup' | translate}}</ion-router-link>
        <!-- <a color="#A9D193" href="register">{{ 'LOGIN.signup' | translate}}</a> -->
      </p>
    <!--  -->
    </form>
  </ion-grid>
  <!-- <p text-center>Don't have a account?</p>
  <ion-button expand="full" color="danger" (click)="registerModal()">Register</ion-button> -->
</ion-content>

