@import "../../theme/ionic-mixin.scss";
.login-page{

    @include logo-box();
    .login-form{
        max-width: 375px;
        width: 100%;
        margin: auto;
        .login-form-group {
            padding: 30px 0px 0px 0px !important;
            .login-labels{
                @include set-font('OpenSans-Regular', 12px, #3D3D3D);
                text-transform: uppercase;
            }
            .login-inputs {
                @include set-font('OpenSans-Regular', 14px, #000000);        
                border-bottom: 1px solid #00A14D;
                padding: 5px 0px !important;            
            }   
        }
        .forgot-text{
            @include set-font('OpenSans-Regular', 14px, #1267ac);  
            width:100%;
            a{
                @include set-font('OpenSans-Regular', 14px, #1267ac);  
                width:100%;
                text-decoration: none;
            }
        } 
        .sign-in-buttons{
            @include button-style();
            padding:5px;
            width:100%;
            height: 55px;
            margin-top:25px;
        }
        .register-text{
            @include set-font('OpenSans-Regular', 12px, #3D3D3D);  
            padding-top: 10px;
            text-align: center;
            ion-router-link{
                @include set-font('OpenSans-SemiBold', 12px, #00A14D);
                text-decoration: none;  
            }
            a{
                @include set-font('OpenSans-SemiBold', 12px, #00A14D);  
                text-decoration: none;
            }
        }
    }
    
}
.error{
    @include set-font('OpenSans-Regular', 12px,red);
}