<ion-header class="loggedin-header ion-align-self-center">
  <ion-toolbar class="new-background-color ion-align-self-center ion-justify-content-center">
      <ion-buttons  slot="start" >
          <ion-menu-button class="spa-side-menu"></ion-menu-button>
          <ion-router-link [routerLink]="['/start/tabs','modules', moduleId]" class="custom-arrow-back" >
            <ion-icon name="arrow-back"></ion-icon>
          </ion-router-link>
      </ion-buttons>     
      <!-- <ion-title>{{ 'LESSON.title' | translate }}</ion-title>     -->
       <ion-title *ngIf="lessonInfo">{{lessonInfo.page_title}}</ion-title>   
  </ion-toolbar>
</ion-header>

<ion-content class="lesson-page">
<div class="lesson-page-contents" *ngIf="lessonInfo">
<ion-grid class="ion-no-padding" *ngIf="lessonInfo.video_url">
  <ion-row>
    <ion-col class="ion-no-padding">
      <!-- <iframe width="962" height="541" src="https://www.youtube.com/embed/TVdKTM-bzfQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
      
      <iframe *ngIf="netStatus=='success' && trustedVideoUrl && lessonInfo.show_module_name_and_video != 2 && lessonInfo.video_url !='https://player.vimeo.com/video/'" id="videoId2" width="100%" height="250" [src]="trustedVideoUrl" frameborder="0" allowfullscreen></iframe>
      
      <!-- 
      <video width="100%" height="232" *ngIf="lessonInfo.lesson.video_url" controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
        <source src="{{lessonInfo.lesson.video_url}}" type="video/mp4"/>
      </video> -->
    </ion-col>




   
  </ion-row>
  <ion-row *ngIf="netStatus=='error'">
    <ion-col  size="12" class="about-image">
      <div *ngIf="lessonData.banner_image" (click)="playLocalVideo()" ><ion-img  [src]="lessonData.banner_image"></ion-img></div>
      <!-- <ion-img src="../../assets/images/about.png"></ion-img> -->
    </ion-col>
  </ion-row>
  <ion-row>
    <!-- <ion-col class="text-center" *ngIf="lessonInfo.download_video_url && netStatus=='success' && lessonInfo.show_module_name_and_video != 2 "> -->
      <ion-col class="text-center" *ngIf="lessonInfo.download_video_url && netStatus=='success' && lessonInfo.show_module_name_and_video != 2 ">
      <!-- [disabled]="disableDownload" -->

        <!-- For IOS -->
      <!-- <ion-button color="blue" class="download-video" (click)="download('1')">{{ 'LESSON.downloadVideo' | translate }}</ion-button>
      <ion-button color="blue" class="download-video" (click)="download('2')">{{ 'LESSON.downloadLowQualityVideo' | translate }}</ion-button>
      <p class="processing-text">{{this.downloadProcessing}}</p> -->
      
       <!-- For Android -->

      <a *ngIf="lessonInfo.high_quality_offline"  href="{{lessonInfo.high_quality_offline}}"><ion-button  color="blue" class="download-video" >{{ 'LESSON.downloadVideo' | translate }}</ion-button></a>
      <a *ngIf="lessonInfo.low_quality_offline"  href="{{lessonInfo.low_quality_offline}}"><ion-button color="blue" class="download-video" >{{ 'LESSON.downloadLowQualityVideo' | translate }}</ion-button></a>

    </ion-col>
  </ion-row>
  <ion-row class="lesson-main-box">
    <ion-col>
      <h2>{{ lessonInfo.post_title }}</h2>
      <h4 *ngIf="lessonInfo.show_module_name_and_video != 2">{{ lessonInfo.moduleTitle }}</h4> 
      <p>{{lessonInfo.post_content}}</p>
    </ion-col>
  </ion-row>
  <div  class="lesson-description-box" *ngIf="lessonInfo.info">
 
      <ion-row class="lesson-row" *ngFor="let lesson_description of lessonInfo.info">
        <ion-col [innerHTML]="lesson_description.description | safe: 'html'">
        </ion-col>
      </ion-row>

  </div>

  <div class="lesson-map-box" *ngIf="lessonInfo.map">

      <ion-card class="map-card" *ngFor="let province of lessonInfo.map">
        <img src="{{province.province_thumb_image}}" />
        <ion-card-header class="ion-text-center">
          <ion-card-title>{{province.province_name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          <div [innerHTML]="province.province_content | safe: 'html'">
          </div>
          
          <ion-button (click)= "presentModal( province.province_name, province.province_popup_image )" class="ion-no-margin show-button" type="button" expand="full" color="#1AAE9F">
            {{ 'LESSON.view' | translate }}
          </ion-button> 
        </ion-card-content>
      </ion-card>

  </div>


  <ion-row *ngIf="lessonInfo.questionStatus" class="quiz-box lesson-main-box ion-align-self-center ion-justify-content-center">
    <ion-col class="quiz-column ion-align-self-center ion-justify-content-center" >
      <ion-router-link expand=full class="start-quiz" [routerLink]="['/start/tabs','quiz', moduleId, lessonId ]"  routerDirection="forward" >{{ 'LESSON.startQuiz' | translate }}</ion-router-link>
      <!-- <ion-router-link *ngIf="lessonId != lastLesson"  expand=full class="button-style get_certificate" id='next_lesson' [routerLink]="['/start/tabs','lessons', moduleId, nextLesson ]"  routerDirection="forward" >{{ 'QUIZ.nextLesson' | translate }}</ion-router-link>
      <ion-router-link *ngIf="lessonId == lastLesson"  expand=full class="button-style get_certificate" id='next_lesson' [routerLink]="['/start/tabs','modules']"  routerDirection="forward" >{{ 'Module Completed' | translate }}</ion-router-link> -->
    </ion-col>
    <!-- *ngIf="lessonId != lastLesson" -->
  </ion-row>
  
</ion-grid>
</div>
<div class="lesson-page-contents" *ngIf="lessonInfo == ''">
  <ion-grid>
    <ion-row>
      <ion-col>
        <p class="no-dataavailable">{{ noData }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
