@import "../../theme/ionic-mixin.scss";

.loggedin-header{
    @include common-header();
}

.lesson-page {
    .download-video {
        @include button-style();   
        font-size: 12px; 
        padding: 5px 10px;
    }
    .processing-text{
        @include set-font('OpenSans-SemiBold',12px, green);
        padding: 0px 10px;
    }
    .lesson-main-box{
        padding: 0px 20px;
        h2{
            @include set-font('Raleway-Bold',22px,#000000);
            margin: 10px 0px 10px 0px;
        }
        h4{
            @include set-font('OpenSans-SemiBold',16px,#80BEC1);
            text-transform: uppercase;
            margin: 0px 0px 18px 0px;
        }
        p{
            @include set-font('OpenSans-Regular',12px,#333333); 
        }
        
        ion-router-link{
            @include button-style();            
            text-transform: uppercase;
            --box-shadow: none;
            text-transform: uppercase;
            --box-shadow: none;
            width: 320px;
            height: 55px;
            display: inline-block;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 25px;
        }
    }
    .lesson-description-box{

        .lesson-row {
            padding: 20px 20px;
            &:nth-child(odd){
                background: #f4f6f9;                
            }
        }
    }

    .lesson-map-box{
        padding:0px 25px;
        .map-card{
            box-shadow: 0px 7px 14px -1px rgba(0, 62, 109, 0.16) !important;
            margin:0px 0px 35px 0pxionic cordova plugin add com-sarriaroman-photoviewer;
            ion-card-title {
                @include set-font('Raleway-Bold',22px,#000000);
            }
            ion-card-content {
                @include set-font('OpenSans-Regular',12px,#333333); 
                padding-top: 0px;
                .show-button{
                    @include button-style();
                    width: 100px;
                    margin: 20px auto;
                }
            }
        }
    }

    .quiz-box{
        .quiz-column{            
            display: flex;
        }
    }
}