@import "../../theme/ionic-mixin.scss";
.loggedin-header{
    @include common-header();
}
.contact-page{
    &.ion-padding{
        --padding-start: var(--ion-padding, 10px);
        --padding-end: var(--ion-padding, 10px);
        --padding-top: var(--ion-padding, 10px);
        --padding-bottom: var(--ion-padding, 10px);
    }

    .contact-info-grid{
        padding:9px;
        .module-card{
            margin: 22px 11px 0px 11px;
            .contact-col-img{
                margin: 0 auto;
            }
            .module-row {
                padding: 12px 15px 12px 15px;
                .module-img-box{
                    img{
                        border-radius: 0px;
                        width: auto;
                        height: auto;
                        -o-object-fit: cover;
                        object-fit: cover;
                    }
                }
                .contact-link{
                    display: flex;
                    flex-direction: column;
                    a{
                        @include set-font('OpenSans-SemiBold', 17px, #000000);                ; 
                        text-transform: uppercase;
                        word-break: break-all;
                        @media screen and (max-width: 374px) {
                            font-size: 12px;
                        }
                    }
                }

                .contact-mail-phone{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .contact-grid-col{
                        max-width: 48.5%;
                        flex: 0 0 48.5%;
                    }
                }
            }
        }
    }
    .contact-form-grid{
        margin-top: 31px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        h2{
            @include set-font('Raleway-Bold', 32px, #000000);        
            text-transform: uppercase;
            //text-align: left;
            margin: 0px;
        }
        .register-form-group {
            padding: 30px 0px 0px 0px !important;
            .error{
                @include set-font('OpenSans-Regular', 12px,red);
            }
            .register-labels{
                @include set-font('OpenSans-SemiBold', 12px, #3D3D3D);
                text-transform: uppercase;
            }
            
            .register-inputs {
                @include set-font('OpenSans-Regular', 14px, #000000);        
                border-bottom: 1px solid #00A14D;
                padding: 5px 0px !important;  
                &.textarea {
                    height:112px;
                }  
                .calendar-image{
                    position: absolute;
                    right: 0;
                }        
            }  
           
        }
        .sign-in-buttons{
            @include button-style();
            padding:5px;
            width:100%;
            height: 55px;
            margin-top:25px;
            background:#00A04D;
        }

        button{
            background-color: #1AAE9F;
            width: 100%;
            padding: 20px;
            color: #fff;
            outline:none;
        }
    }
    .contact-map-grid{
        padding:0;
        .map-block{
            padding:0;
        }
    }
}
