<ion-header class="loggedin-header ion-align-self-center">
  <ion-toolbar class="new-background-color ion-align-self-center ion-justify-content-center">
      <ion-buttons  slot="start" >
          <ion-menu-button class="spa-side-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title> {{ 'CONTACT.title' | translate}}</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content class=" contact-page">
  <ion-grid class="contact-info-grid">
    <ion-card class="module-card"  >
      <ion-row class="ion-justify-content-start ion-align-self-center module-row" >
        <ion-col size="3" class="module-img-box ion-align-self-center">
          <ion-thumbnail class="thumb-img-wrap">
          <img src="/assets/images/contact-loc.png"/>
          </ion-thumbnail>
          <!-- <ion-icon style="width: 58px; height: 58px;"    class="contact-col-img"  src="/assets/images/contact.svg"></ion-icon> -->
        </ion-col>
        <ion-col class="ion-justify-content-start ion-align-self-center">
          <div class="contact-link" [innerHTML]="contactData.contact_address_detail | safe: 'html'">            
            <!-- <a href="https://www.google.com/maps/place/206+Keefer+St,+Vancouver,+BC+V6A+1X6,+Canada/@49.2793371,-123.1014002,17z/data=!3m1!4b1!4m5!3m4!1s0x548671701bad8ccb:0x76d307c057fb63e3!8m2!3d49.2793371!4d-123.0992115"  item-center>
              #206 – 181 Keefer Place, <br/>
              Vancouver BC, V6B 6C1
          </a> -->
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="module-card"  >
      <ion-row class="ion-justify-content-start ion-align-self-center module-row" >
        <ion-col size="3" class="module-img-box ion-align-self-center">
          <ion-thumbnail class="thumb-img-wrap">
            <img src="/assets/images/whatsapp.png"/>
            <!-- <img [src]="contactData.contact_icon"/> -->
            
            <!-- <ion-icon  class="contact-col-img" style="width: 58px; height: 58px;" src="/assets/images/contact-phone.svg"></ion-icon> -->
          </ion-thumbnail>
        </ion-col>
        <ion-col class="ion-justify-content-start ion-align-self-center">
          <div class="contact-link" [innerHTML]="contactData.contact_phone | safe: 'html'">

            <!-- <a href="https://www.google.com/maps/place/206+Keefer+St,+Vancouver,+BC+V6A+1X6,+Canada/@49.2793371,-123.1014002,17z/data=!3m1!4b1!4m5!3m4!1s0x548671701bad8ccb:0x76d307c057fb63e3!8m2!3d49.2793371!4d-123.0992115"  item-center>
            +1 778 832 0183
            </a> -->
        </div>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="module-card"  >
      <ion-row class="ion-justify-content-start ion-align-self-center module-row" >
        <ion-col size="3" class="module-img-box ion-align-self-center">
          <ion-thumbnail class="thumb-img-wrap">
          <img src="/assets/images/contact-mail.png"/>
        </ion-thumbnail>
          <!-- <ion-icon class="contact-col-img" style="width: 58px; height: 58px;" src="/assets/images/contact-email.svg"></ion-icon> -->
        </ion-col>
        <ion-col class="ion-justify-content-start ion-align-self-center">
          <div class="contact-link" [innerHTML]="contactData.contact_email | safe: 'html'">
            <!-- <a href="https://www.google.com/maps/place/206+Keefer+St,+Vancouver,+BC+V6A+1X6,+Canada/@49.2793371,-123.1014002,17z/data=!3m1!4b1!4m5!3m4!1s0x548671701bad8ccb:0x76d307c057fb63e3!8m2!3d49.2793371!4d-123.0992115"  item-center>
            estartcanada@success.bc.ca
            </a> -->
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
    
    <!-- <ion-row>
      <ion-col class="contact-grid-col">
        <ion-img  class="contact-col-img" style="width: 55px; height: 57px;" src="/assets/images/contact-loc.png"></ion-img>
        <div class="contact-link"><a href="https://www.google.com/maps/place/206+Keefer+St,+Vancouver,+BC+V6A+1X6,+Canada/@49.2793371,-123.1014002,17z/data=!3m1!4b1!4m5!3m4!1s0x548671701bad8ccb:0x76d307c057fb63e3!8m2!3d49.2793371!4d-123.0992115"  item-center>
            206-181 Keefer Street<br>
            Vancouver BC, V6B 6C,1Canada
        </a></div>
      </ion-col> 
    </ion-row>
    <ion-row class="contact-mail-phone">
        <ion-col class="contact-grid-col">
          <ion-img  class="contact-col-img" style="width: 41px; height: 41px;" src="/assets/images/contact-mail.png"></ion-img>
          <div class="contact-link"><a href="mailto:poimrpp@gmail.com">poimrpp@gmail.com</a>
          <a href="mailto:support@poimrpp.com">support@poimrpp.com</a></div>
        </ion-col> 
        <ion-col class="contact-grid-col">
            <ion-img  class="contact-col-img" style="width: 69px; height: 57px;" src="/assets/images/contact-phone.png"></ion-img>
            <div class="contact-link"><a href="tel:1 778 832 0183">+1 778 832 0183</a>
            <a href="tel:1 778 832 0183">+1 778 832 0183</a></div>
        </ion-col> 
    </ion-row> -->
  </ion-grid>
  <ion-grid class="contact-form-grid">
    <ion-row>
      <ion-col >
          <h2 >{{ 'CONTACT.getInTouch' | translate}}</h2>
          <form [formGroup]="contactForm" (ngSubmit)="contact(contactForm)" #contactFooter="ngForm">
              <ion-row lines="none" class="register-form-group">
                <ion-col size="12">
                  <ion-label class="register-labels" position="stacked">{{ 'CONTACT.firstname' | translate}}</ion-label>
                  <ion-input class="register-inputs" formControlName="first_name" type="text" ></ion-input>
                  <div class="error" *ngIf="contactForm.get('first_name').hasError('required') && contactForm.get('first_name').touched">
                    {{ 'CONTACT.validationMsg' | translate}}
                  </div>
                </ion-col>
              </ion-row>
              <ion-row lines="none" class="register-form-group">
                <ion-col size="12">
                  <ion-label class="register-labels" position="stacked">{{ 'CONTACT.lastname' | translate}}</ion-label>
                  <ion-input class="register-inputs" formControlName="last_name" type="text" ></ion-input>
                  <div class="error" *ngIf="contactForm.get('last_name').hasError('required') && contactForm.get('last_name').touched">
                    {{ 'CONTACT.validationMsg' | translate}}
                  </div>
                </ion-col>
              </ion-row>
              <ion-row lines="none" class="register-form-group">
                <ion-col size="12">
                  <ion-label class="register-labels" position="stacked">{{ 'CONTACT.email' | translate}}</ion-label>
                  <ion-input class="register-inputs" formControlName="your_email" type="email" ></ion-input>
                  <div class="error" *ngIf="contactForm.get('your_email').hasError('required') && contactForm.get('your_email').touched">
                    {{ 'CONTACT.validationMsg' | translate}}
                  </div>
                  <div class="error" *ngIf="contactForm.get('your_email').hasError('email')">{{ 'CONTACT.validationEmail' | translate}}</div>
                </ion-col>
              </ion-row>
              <ion-row lines="none" class="register-form-group">
                <ion-col size="12">
                  <ion-label class="register-labels" position="stacked">{{ 'CONTACT.phone' | translate}}</ion-label>
                  <ion-input class="register-inputs" formControlName="phone" type="text" ></ion-input>
                  <div class="error" *ngIf="contactForm.get('phone').hasError('required') && contactForm.get('phone').touched">
                    {{ 'CONTACT.validationMsg' | translate}}
                  </div>
                  
                </ion-col>
              </ion-row>
              <ion-row lines="none" class="register-form-group">
                <ion-col size="12">
                  <ion-label class="register-labels" position="stacked">{{ 'CONTACT.textmsg' | translate}}</ion-label>
                  <ion-textarea class="register-inputs textarea" formControlName="your_message" type="text" ></ion-textarea>
                  <div class="error" *ngIf="contactForm.get('your_message').hasError('required') && contactForm.get('your_message').touched">
                    {{ 'CONTACT.validationMsg' | translate}}
                  </div>
                </ion-col>
              </ion-row>
              <ion-row lines="none">
                <ion-col>    
                  <ion-button [disabled]="!contactForm.valid" class="ion-no-margin sign-in-buttons" size="large" expand="full" type="submit" expand="full" color="#1AAE9F">
                    {{ 'CONTACT.send' | translate}}
                  </ion-button>      
                </ion-col>
              </ion-row>
            </form>
      </ion-col> 
    </ion-row> 
  </ion-grid>
  <!-- <ion-grid class="contact-map-grid">
      <ion-col class="map-block">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2602.8448474111183!2d-123.10140018431066!3d49.2793370793309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548671701bad8ccb%3A0x76d307c057fb63e3!2s206%20Keefer%20St%2C%20Vancouver%2C%20BC%20V6A%201X6%2C%20Canada!5e0!3m2!1sen!2sin!4v1576133378700!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </ion-col>
  </ion-grid> -->

</ion-content>


<ion-footer>
</ion-footer>
