@import "../../theme/ionic-mixin.scss";
.spa-tabs{
    ion-tab-bar{
        min-height: 64px;
    }
    
    ion-tab-button{
        background-color: #272C39;
        border: 1px solid #3C4458;
        border-bottom: 0px;
    }
    ion-tab-button.tab-selected {
        background-color: #3C4458 !important;
    }
    ion-icon{
        margin-bottom: 5px;
    }
    ion-label{
        @include set-font-default ('OpenSans-Regular', 10px, #FFFFFF);
        text-transform: uppercase;
    }
}
