<ion-tabs class="spa-tabs">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="../../assets/images/home2.svg"></ion-icon>
      <ion-label>{{ 'TABS.home' | translate }}</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="modules" >
      <ion-icon name="apps" src="../../assets/images/module.svg"></ion-icon>
      <ion-label>{{ 'TABS.module' | translate }}</ion-label>
    </ion-tab-button> -->
<!-- Module tabs starts -->
    <ion-tab-button tab="modules" *ngIf="appLang === 'en'">
      <ion-icon name="apps" src="../../assets/images/module.svg"></ion-icon>
      <ion-label>Module</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="modules" *ngIf="appLang === 'ar'">
      <ion-icon name="apps" src="../../assets/images/module.svg"></ion-icon>
      <ion-label>المهن</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="modules" *ngIf="appLang === 'fr'">
      <ion-icon name="apps" src="../../assets/images/module.svg"></ion-icon>
      <ion-label>Module</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="modules" *ngIf="appLang === 'fa'">
      <ion-icon name="apps" src="../../assets/images/module.svg"></ion-icon>
      <ion-label>مدول</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="modules" *ngIf="appLang === 'di'">
      <ion-icon name="apps" src="../../assets/images/module.svg"></ion-icon>
      <ion-label>ماژول</ion-label>
    </ion-tab-button>
<!-- Module tabs ends -->
    <ion-tab-button tab="map-explore" >
      <ion-icon name="send" src="../../assets/images/map.svg"></ion-icon>
      <ion-label>{{ 'TABS.map' | translate }} </ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="isLoggedIn" tab="my-account" >
        <ion-icon name="send" src="../../assets/images/profile.svg"></ion-icon>
        <ion-label>{{ 'TABS.myaccount' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="!isLoggedIn" tab="my-account" >
        <ion-icon name="send" src="../../assets/images/profile.svg"></ion-icon>
        <ion-label>{{ 'TABS.signin' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="openChatWindow()" >
      <ion-icon name="send" src="../../assets/images/chat.svg"></ion-icon>
      <ion-label>{{ 'TABS.chat' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
<livechat-widget #liveChatWidget licenseId="12159714" 
(onChatLoaded)="onChatLoaded($event)" (onChatWindowOpened)="onChatWindowOpened()" 
(onChatWindowMinimized)="onChatWindowMinimized()" [visitor]="visitor" [params]="params">
</livechat-widget>