
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../assets/fonts/OpenSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-LightItalic';
    src: url('../assets/fonts/OpenSans-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../assets/fonts/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../assets/fonts/OpenSans-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('../assets/fonts/OpenSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-SemiBoldItalic';
    src: url('../assets/fonts/OpenSans-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../assets/fonts/OpenSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('../assets/fonts/OpenSans-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../assets/fonts/OpenSans-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('../assets/fonts/OpenSans-BoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('../assets/fonts/Raleway-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;  
}
@font-face {
    font-family: 'Raleway-ExtraBoldItalic';
    src: url('../assets/fonts/Raleway-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic; 
}
@font-face {
    font-family: 'Raleway-Bold';
    src: url('../assets/fonts/Raleway-Bold.ttf');
    font-weight: 700;
    font-style: normal;  
}
@font-face {
    font-family: 'Raleway-BoldItalic';
    src: url('../assets/fonts/Raleway-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic; 
}
@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('../assets/fonts/Raleway-SemiBold.ttf');
    font-weight: 600;
    font-style: normal; 
}
@font-face {
    font-family: 'Raleway-Medium';
    src: url('../assets/fonts/Raleway-Medium.ttf');
    font-weight: 500;
    font-style: normal;  
}
@font-face {
    font-family: 'Raleway-MediumItalic';
    src: url('../assets/fonts/Raleway-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic; 
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('../assets/fonts/Raleway-Regular.ttf');
    font-weight: 400;
    font-style: normal;  
}
@font-face {
    font-family: 'Raleway-Light';
    src: url('../assets/fonts/Raleway-Light.ttf');
    font-weight: 300;
    font-style: normal;  
}
@font-face {
    font-family: 'Raleway-LightItalic';
    src: url('../assets/fonts/Raleway-LightItalic.ttf');
    font-weight: 300;
    font-style: italic; 
}

