@import "../../theme/ionic-mixin.scss";

.loggedin-header{
    @include common-header();
}
.modules-page{
    .module-card{
        box-shadow: 0 3px 8px 1px rgba(0, 62, 109,.29);
        margin-top:10px;
        margin-bottom: 10px;
        .module-row {
            min-height: 82px;
            .module-img-box img{
                display: block;
                width: auto;
                margin: 0px auto;
                height: auto;
            }
            .module-title{
                @include set-font('OpenSans-SemiBold', 16px, #000000);
                text-transform: uppercase;
                margin: 0px;
                padding-right: 22px;
            }
    
        }
    }
    .module-row {
        min-height: 82px;
        .module-img-box ion-img{
            height: 40px;
        }
        .module-title{
            @include set-font('OpenSans-SemiBold', 16px, #000000);
            text-transform: uppercase;
            margin: 0px;
        }

    }
    

}
.module-inactive {
    opacity: 0.5;
    cursor: not-allowed;
}
