<ion-header class="loggedin-header ion-align-self-center">
  <ion-toolbar class="new-background-color ion-align-self-center ion-justify-content-center">
      <ion-buttons  slot="start" >
          <ion-menu-button class="spa-side-menu"></ion-menu-button>
      </ion-buttons>
      <!-- <ion-title>{{ 'MODULES.title' | translate }}</ion-title>      -->
      <ion-title *ngIf="modules">{{modules.page_title}}</ion-title>      
  </ion-toolbar>
</ion-header>
<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Modules</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content class="modules-page">
  <ion-grid *ngIf="modules" >
    <ion-card class="module-card" *ngFor="let module of modules.moduleinfo; let i = index" >   
      <!-- <div *ngIf="quizResponseStatus"> -->
      <ion-row class="ion-justify-content-start ion-align-self-center module-row module-inactive" *ngIf="module.module_id != 3640 && module.comlesson != 1 " routerDirection="forward">
        <ion-col size="3" class="module-img-box ion-align-self-center">
            <img class="logo-image" width="158px" height="161px" src="{{module.img_url}}">
        </ion-col>
        <ion-col class="ion-justify-content-start ion-align-self-center">
            <h2 class="module-title" [innerHTML]="module.post_title | safe: 'html'"></h2>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-start ion-align-self-center module-row" *ngIf="module.module_id != 3640 && module.comlesson == 1 " [routerLink]="['/start/tabs', 'modules', module.module_id]" routerDirection="forward">
        <ion-col size="3" class="module-img-box ion-align-self-center">
            <img class="logo-image" width="158px" height="161px" src="{{module.img_url}}">
        </ion-col>
        <ion-col class="ion-justify-content-start ion-align-self-center">
            <h2 class="module-title" [innerHTML]="module.post_title | safe: 'html'"></h2>
        </ion-col>
      </ion-row>


      <ion-row class="ion-justify-content-start ion-align-self-center module-row" *ngIf="module.module_id == 3640 " [routerLink]="['/start/tabs', 'modules', module.module_id]" routerDirection="forward">
        <ion-col size="3" class="module-img-box ion-align-self-center">
            <img class="logo-image" width="158px" height="161px" src="{{module.img_url}}">
        </ion-col>
        <ion-col class="ion-justify-content-start ion-align-self-center">
            <h2 class="module-title" [innerHTML]="module.post_title | safe: 'html'"></h2>
        </ion-col>
      </ion-row>
<!-- </div> -->

    </ion-card>
  </ion-grid>
  <ion-grid *ngIf="!modules">
    <ion-row>
      <ion-col>
        <p class="no-dataavailable">{{ noData }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
