@import "../../theme/ionic-mixin.scss";
.loggedin-header{
    @include common-header();
}

.forgot-page{
    .forgot-form{
        h2{
            padding-top: 70px;
            padding-bottom: 10px;
            @include set-font('Raleway-Bold', 22px, #000000);
            margin: 0 auto;
        }
        p{
            @include set-font('OpenSans-Regular', 16px, #000000);
            text-align: center;
        }

        .error{
            @include set-font('OpenSans-Regular', 12px,red);
        }
        .forgot-labels{
            @include set-font('OpenSans-Regular', 12px, #3D3D3D);
            text-transform: uppercase;
        }
        .forgot-inputs {
            @include set-font('OpenSans-Regular', 14px, #000000);        
            border-bottom: 1px solid #00A14D;
            padding: 5px 0px !important;          
        } 
        .forgot-buttons{
            @include button-style();
            padding:5px;
            width:100%;
            height: 55px;
            margin-top:25px;
        } 
    }
}