<ion-header class="loggedin-header ion-align-self-center">
  <ion-toolbar class="new-background-color ion-align-self-center ion-justify-content-center">
      <ion-buttons  slot="start" >
          <ion-menu-button class="spa-side-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ 'FORGOT.title' | translate }}</ion-title>      
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding forgot-page">
    <form novalidate  class="forgot-form" [formGroup]="forgotForm" (ngSubmit)="forgot(forgotForm)" >
        <ion-item lines="none">
          <h2 class="forgot-title">{{ 'FORGOT.title' | translate }}</h2>
        </ion-item>
        <ion-item lines="none">
            <p class="forgot-text">{{ 'FORGOT.text' | translate }}</p>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="forgot-labels" position="stacked">{{ 'FORGOT.email' | translate }}</ion-label>
          <ion-input class="forgot-inputs" formControlName="email" type="text" ></ion-input>
          <div class="error" *ngIf="forgotForm.get('email').hasError('required') && forgotForm.get('email').touched">
            {{ 'FORGOT.validationMsg' | translate }}
          </div>
        </ion-item>
        <ion-item class="ion-margin-top" lines="none">
            <ion-button [disabled]="!forgotForm.valid" class="ion-no-margin forgot-buttons" type="submit" color="#1AAE9F" size="large" expand="full">{{ 'FORGOT.btnText' | translate }}</ion-button>              
        </ion-item>
    </form>
</ion-content>
