:root {
    --ion-color-blue: #1267ac;
}
@mixin set-font-default ( $family, $size, $color ) {

    font-family: $family;
    font-size:$size; // $size;
    color: $color;
}
@mixin set-font ( $family, $size, $color ) {

    --font-size: calc((var(--pixels)* #{$size}));
    font-family: $family;
    font-size:var(--font-size); // $size;
    color: $color;
}

@mixin button-style-default  {
    background:#1267ac;
    @include set-font-default('OpenSans-SemiBold', 16px, #FFFFFF);  
    text-transform: uppercase;
    --box-shadow: none;
    &:hover{
        background: #1A9B8E;
    }
    -webkit-appearance: none;
    --color: #ffffff;
    
}

@mixin button-style  {
    background:#1267ac;
    @include set-font('OpenSans-SemiBold', 16px, #FFFFFF);  
    text-transform: uppercase;
    --box-shadow: none;
    &:hover{
        background: #1A9B8E;
    }
    -webkit-appearance: none;
    --color: #ffffff;
    
}

@mixin  logo-box {

    .logo-container{
        padding-top: 35px;
        .logo-image{
            width:71px;
            height:75px;
            margin: 0 auto;
            
        }
        .logo-title{
            @include set-font('Raleway-Medium', 22px, #1267ac);
            margin-top:28px;
        }
        .logo-desc{
            @include set-font('Raleway-Regular', 14px, #000000);
        }
    }
    
}

@mixin  common-header {
    background: #00A14D ;
    min-height: 80px;
    @media only screen and (max-width: 767px)  and (orientation:landscape){
        min-height: 60px;
    }
    .new-background-color{
        --background: #00A14D ;
        height: 100%;
        display: flex;
    }
    ion-title{
        background-color: #00A14D ;
        @include set-font('Raleway-Bold', 18px, #ffffff);
        text-transform: uppercase;
    }
    .spa-side-menu{
        color: #fff;
    }
    ion-back-button{
        color: #fff;
    }
    .custom-arrow-back{
        color: #fff;
        font-size: 30px;
        padding-top: 6px;
    }
}