@import '../assets/css/fonts.scss';
@import '../theme/ionic-mixin.scss';

.side-menu{
    .side-menu-header{
        background-color: #3A486B;
        padding:20px ;
        ion-toolbar:last-child {
            --border-width: 0 0 0px;
        }
        ion-img{
            width: 146px;
        }
    }
    .side-menu-content{
        
        --padding-top: 16px;
        --padding-bottom: 16px;
        .menu-item {
            @include set-font-default('OpenSans-Regular', 13px, #000000);
            text-transform: capitalize;
            padding: 0px 16px;   
            .menu-down-icon{
                color: #1267ac;
                font-size: 13px;
            }   
            &.open {
                --ion-background-color:#1267ac;
                color: #ffffff;
                background: #1267ac;
            }      
        }
        ion-item-group[submenu] {
            overflow: hidden;
            display: block;
            height: 0;
            transition: height .3s linear;
            ion-item{
                padding-left: 53px;
                &.open{
                    --ion-background-color:#1267ac;
                    color: #ffffff;
                    background: #1267ac;
                }
            }
            &.visible {
                height: inherit;
                // this is just sample value, calculate how much space you need for your menu items
            }
        }
    }
    .mobile-accessbility {
        .small-text {
            font-size: 10px !important;
        }
    }

}

