<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->
<ion-app>
  <ion-split-pane contentId="menu-content" class="side-menu">
    <ion-menu contentId="menu-content" dir="ltr">
      <ion-header class="side-menu-header">
        <ion-toolbar color="#3A486B">
          <ion-img (click)="goToPage()" class="logo-image" width="146px" height="161px" src="/assets/images/logo-sidemenu.png"></ion-img>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-no-padding side-menu-content"> 
        <ion-list >
          <div *ngFor="let p of appPagesWithSubmenu">

            <ion-item lines="none"  class="menu-item" *ngIf="!p.url"  (click) = "menuItemHandler()">
              <ion-icon slot="start" color="danger" src="{{p.icon}}"></ion-icon>
              <ion-label>{{p.title | translate }}</ion-label>
              <ion-icon class="menu-down-icon" ios="ios-arrow-down" md="md-arrow-down" src="../assets/images/arrow-down.svg"></ion-icon>
            </ion-item>
            <ion-item-group submenu [class.visible]="showSubmenu"  *ngFor="let q of p.submenu">
              <ion-menu-toggle auto-hide="false" >
              <ion-item class="menu-item" [ngClass]="{'open': selected === q.value}" lines="none"  submenu-item (click) = "setLanguage(q.value)">{{q.title}}</ion-item>
              </ion-menu-toggle>
            </ion-item-group>
          </div>

          <!-- <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item lines="none" detail=false class="menu-item" *ngIf="p.url"  [routerLink]="p.url" [routerDirection]="''">
              <ion-icon slot="start" color="danger" src="{{p.icon}}"></ion-icon>
              <ion-label>{{p.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>  -->
          <ion-menu-toggle auto-hide="false" *ngFor="let p of commonMenus">
            <ion-item lines="none" detail=false class="menu-item"  [routerLink]="p.url" [routerDirection]="''">
              <ion-icon slot="start" color="danger" src="{{p.icon}}"></ion-icon>
              <ion-label>{{p.title | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle> 

          <div *ngIf="isLoggedIn">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPagesSignIn">
            <ion-item (click) = "setActivePage(p.title)" lines="none" [ngClass]="{'open': activePage === 'changePassword'}" detail=false class="menu-item" *ngIf="p.url"  [routerLink]="p.url" [routerDirection]="''">
              <ion-icon slot="start" color="danger" src="{{p.icon}}"></ion-icon>
              <ion-label>{{p.title | translate}}</ion-label>
            </ion-item>
            <ion-item lines="none" detail=false class="menu-item" *ngIf="!p.url" (click) = "logout()">
              <ion-icon slot="start" color="danger" src="{{p.icon}}"></ion-icon>
              <ion-label>{{p.title | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle> 
          </div>  

          <div *ngIf="!isLoggedIn">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPagesSignout">
            <ion-item lines="none" detail=false class="menu-item"  [routerLink]="p.url" [routerDirection]="''">
              <ion-icon slot="start" color="danger" src="{{p.icon}}"></ion-icon>
              <ion-label>{{p.title | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>   
          </div>      
            
        </ion-list>
        <ion-list class="mobile-accessbility">
          <ion-list-header>
            Adjust Text
          </ion-list-header>
          <ion-item lines="none" >
            <ion-range min="1" step=".5" max="2" snaps="true" [(ngModel)]="text" (ionChange)="updateFont();">
              <ion-label slot="start" class="small-text">A</ion-label>
              <ion-label slot="end">A</ion-label>
            </ion-range>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>


    <!-- <livechat-widget #liveChatWidget licenseId="12159714" 
    (onChatLoaded)="onChatLoaded($event)" (onChatWindowOpened)="onChatWindowOpened()" 
    (onChatWindowMinimized)="onChatWindowMinimized()" [visitor]="visitor" [params]="params">
    </livechat-widget> -->
    <ion-router-outlet main id="menu-content" [ngClass]="this.selected === 'ar' ? 'alignar' : this.selected === 'fa' ? 'alignar' : this.selected === 'di' ? 'alignar' :  'alignnr'"></ion-router-outlet>
    <!-- <ion-router-outlet main id="menu-content" [ngClass]="this.selected === 'ar' ? 'alignar' : 'alignnr' " ></ion-router-outlet>  -->
    <!-- <ion-router-outlet main id="menu-content" [ngClass]="langc ? this.selected : 'parent-inactive'"></ion-router-outlet>
    <div ng-class="this.selected == ar ? 'alignar' : 'alignnr'"> -->   
      <!-- ...
  </div> -->
  </ion-split-pane>
</ion-app>