<ion-header class="loggedin-header ion-align-self-center">
  <ion-toolbar class="new-background-color ion-align-self-center ion-justify-content-center">
      <ion-buttons  slot="start" >
          <ion-menu-button class="spa-side-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ 'Workshops' | translate }}</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-grid *ngIf= "workData">

  <!-- <iframe *ngIf="trustedVideoUrl1" [src]="trustedVideoUrl1" width="100%" height="250" frameborder="0" autoplay=”0″></iframe> 
    
  <iframe *ngIf="trustedVideoUrl2" [src]="trustedVideoUrl2" width="100%" height="250" frameborder="0" autoplay=”0″></iframe>  -->


  <!-- <iframe *ngIf="trustedVideoUrl1" [src]="trustedVideoUrl1" width="100%" height="250" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ></iframe> 
    
  <iframe *ngIf="trustedVideoUrl2" [src]="trustedVideoUrl2" width="100%" height="250" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>   -->

  <div *ngIf="curLang == 'en'">

    <video *ngIf="trustedVideoUrl_en_1" poster="../../assets/images/english1.png" width="100%" height="250" controls="controls" preload="metadata"  webkit-playsinline="webkit-playsinline">
      <source src="{{trustedVideoUrl_en_1}}" type="video/mp4">
      <source src="{{trustedVideoUrl_en_1}}" type="video/webm">
      <source src="{{trustedVideoUrl_en_1}}" type="video/ogg">
    </video>
  
    <video *ngIf="trustedVideoUrl_en_2" poster="../../assets/images/english2.png"  width="100%" height="250" controls="controls" preload="metadata"  webkit-playsinline="webkit-playsinline">
      <source src="{{trustedVideoUrl_en_2}}" type="video/mp4">
      <source src="{{trustedVideoUrl_en_2}}" type="video/webm">
      <source src="{{trustedVideoUrl_en_2}}" type="video/ogg">
    </video>

  </div>

  <div *ngIf="curLang == 'ar'">

    <video *ngIf="trustedVideoUrl_ar_1" poster="../../assets/images/arabic1.png" width="100%" height="250" controls="controls" preload="metadata"  webkit-playsinline="webkit-playsinline">
      <source src="{{trustedVideoUrl_ar_1}}" type="video/mp4">
      <source src="{{trustedVideoUrl_ar_1}}" type="video/webm">
      <source src="{{trustedVideoUrl_ar_1}}" type="video/ogg">
    </video>
  
    <video *ngIf="trustedVideoUrl_ar_2" poster="../../assets/images/arabic2.png"  width="100%" height="250" controls="controls" preload="metadata"  webkit-playsinline="webkit-playsinline">
      <source src="{{trustedVideoUrl_ar_2}}" type="video/mp4">
      <source src="{{trustedVideoUrl_ar_2}}" type="video/webm">
      <source src="{{trustedVideoUrl_ar_2}}" type="video/ogg">
    </video>

  </div>
  
  


</ion-grid>


<ion-grid *ngIf="!workData">
  <ion-row>
    <ion-col>
      <p class="no-dataavailable">{{ noData }}</p>
    </ion-col>
  </ion-row>
</ion-grid>

