@import "../../theme/ionic-mixin.scss";
.loggedin-header{
    @include common-header();
}
.about-page {
    .about-image{
        padding: 10px 14px 0px 14px;
    }
    .about-content-top-container{
  
        padding: 0px 14px 0px 14px; 
        .about-content-top{
            background-color: #FBFBFB;
            border: 1px solid #E8E8E8;
            padding: 20px 16px 24px 16px;
            p {
                @include set-font('OpenSans-Regular', 16px, #333333);
                margin-bottom: 16px;
            }   
        }
    }
    .about-content-bottom-container{
        padding: 30px 14px 0px 14px; 
        margin-bottom: 30px;
        .about-content-bottom{
            padding: 34px 16px 30px 16px; 
            background-color: #1267AC;
            text-align: center;
            h2{
                @include set-font('Raleway-Bold', 29px, #FFFFFF);
            }
            p{
                @include set-font('OpenSans-Regular', 16px, #FFFFFF);
            }
            .about-btn{
                @include set-font('OpenSans-SemiBold', 17px, #FFFFFF);
                background: #00A04D;
                color: #FFFFFF;
                text-transform: uppercase;
                margin: 14px auto 0px;
                max-width: 195px;
                display: block;
                padding: 11px 0px;

            }
        }
    }
}