@import "../../theme/ionic-mixin.scss";

.loggedin-header{
    @include common-header();
}


.terms-page {
    .terms-main-box{
        @include set-font('OpenSans-Regular',12px,#333333); 
        h1{
            @include set-font('Raleway-Bold',24px,#000000);
        }
        h2{
            @include set-font('Raleway-Bold',22px,#000000);
        }
        h3{
            @include set-font('OpenSans-SemiBold',16px,#80BEC1);
            text-transform: uppercase;
        }
        h4{
            @include set-font('OpenSans-SemiBold',16px,#80BEC1);
            text-transform: uppercase;
        }
        p{
            @include set-font('OpenSans-Regular',12px,#333333); 
        }
        

    }
    .read-more-box {
        display: none;
    }
}