<ion-header class="loggedin-header ion-align-self-center">
  <ion-toolbar class="new-background-color ion-align-self-center ion-justify-content-center">
      <ion-buttons  slot="start" >
          <ion-menu-button class="spa-side-menu"></ion-menu-button>
          <!-- <ion-router-link [routerLink]="['/register']" class="custom-arrow-back" >
            <ion-icon name="arrow-back"></ion-icon>
          </ion-router-link> -->
      </ion-buttons>   
      <ion-title>{{ 'REGISTER.terms' | translate }}</ion-title>       
  </ion-toolbar>
</ion-header>

<ion-content class="terms-page ion-padding" >
  <ion-grid *ngIf = "data">

    <!-- <ion-row class="ion-text-start terms-main-box">
      <ion-col >
          <div *ngIf="data[0].post_content" [innerHTML]="data[0].post_content | safe: 'html'"></div>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col class="ion-no-padding terms-accordion">
        <app-accordion
        *ngFor="let term of data[0].terms; let i=index"
        id = ""
        name="{{ term.post_title }}"
        shortText = ""
        description="{{ term.post_description }}"
        index="{{i}}"
        ></app-accordion>
      </ion-col>
    </ion-row>  


  </ion-grid>
  <ion-grid *ngIf="!data">
    <ion-row>
      <ion-col>
        <p class="no-dataavailable">{{ noData }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
