@import "../../theme/ionic-mixin.scss";
.loggedin-header{
    @include common-header();
}

.explore-maps-page{
    .map-box {
        position: relative; 
        width: 100%; 
        height: 100%;
        padding: 25px 0px;
        .map-row{
            position: relative; 
            width: 100%; 
            height: 100%;
            .map-column{
                position: relative; 
                //width: 100%; 
                min-height: 310px;
                padding: 0px;
                width: 100% !important;
                max-width: 320px !important;
                margin: 0 auto;
                svg {
                    height: 100%;
                    path {
                        // fill: #f1f1f1;
                        stroke: #8E8E8E;
                    }
                    .province-selected{
                        fill:#80BEC1;
                    }
                }
                @media only screen 
                and (min-width : 375px) // or 213.4375em
                and (max-width : 667px) // or 41.6875em       
                { 
                    padding: 10px;
                }
            }
            .compare-wrapper-text {
                margin-top: 50px;
                p{
                    @include set-font('OpenSans-Bold', 14px ,#000000);
                }
            }
            .compare-wrapper{
                text-align: center;
                margin-bottom: 50px;
                
                .compare-box{
                    padding: 15px;
                    border-radius: 5px;
                    border: 1px solid #ACACAC;
                    ion-list{
                        margin:0px;
                    }
                    ion-checkbox {
                        --background-checked: #00A14D ;
                        --border-radius:5px;
                    }
                    .check-box{
                        @include set-font('OpenSans-SemiBold', 16px ,#000000);
                        overflow: visible;
                        white-space: inherit;
                        text-transform: uppercase;

                    }
        
                }
            }
        }
    }
    
}