/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/ionic-mixin.scss";

// @mixin set-font ( $family, $size, $color ) {
//     font-family: $family;
//     font-size: $size;
//     color: $color;
// }

/* COMMON STYLE */
span.button-text.sc-ion-back-button-ios {
    display: none;
}

/* FORGOT POPUP */
.forgot-custom-modal-css {
    --width: 88%;
    --height: 350px;
    .modal-close{
        float: right;
    }
    .forgot-labels{
        text-align: left;
        font-family: 'Open Sans';
        color: #3D3D3D;
        font-weight: 600;
        font-size: 14px;
    }
    .forgot-inputs {
        text-align: left;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 18px;
        color: #1AAE9F;
        border-bottom: 1px solid #BAAFB4;
    }
    .forgot-buttons{
        background:#1AAE9F ;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 20px;
        color: #FFFFFF;
        text-transform: uppercase;
        width:100%;
        &:hover{
            background: #1A9B8E;
        }
    }
    .forgot-title{
        text-align: left;
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 26px;
        color: #000000;
        margin:0px !important;
    }
    .forgot-text{
        text-align: left;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 16px;
        color: #333333;
        margin:0px;
    }
    .forgot-header {
        border: 0px !important;
        border-bottom-color: transparent !important;
        background-image: none !important;
        border-bottom: none !important;
        &:after{
            background-image: none !important; 
        }

        .modal-close{
            font-size:30px;
            margin: 0px 5px;
        }
    }
}
/*HOME PAGE */
.home-page{
    .slider-container{
        .slide-content{
            h2{
                @include set-font('Raleway-Bold', 16px, #0A0A0A);
                text-align: center;
                margin-top: 0px !important;
            }
            h4{
                @include set-font('Raleway-Bold', 18px, #80BEC1);
                margin: 23px 0px 10px 0px;
            }
            .hide-list-new-app{
                display: block;
                font-family: "OpenSans-Regular";
            }
            ul{
                padding: 0px 0px 0px 13px;
                margin: 10px 0px 0px 0px;
                list-style: none;
                counter-reset: item;
                li{
                    @include set-font('OpenSans-Regular', 18px, #000000); 
                    text-align: left;
                    position: relative;
                    padding: 5px 15px 5px 0px;
                    display: flex;
                    justify-content: left;
                    counter-increment: item;
                    list-style-type: none;
                    margin-bottom: 5px;
                    ion-checkbox {
                        --size: 14px;
                        --background-checked: #00A14D !important;
                        --border-color-checked: #00A14D !important;
                        margin-left: auto;
                        width: 100% !important;
                        height: 100%;
                        max-width: 14px;
                        max-height: 14px;
                        margin-top: 4px;
                    }
                    &:before {
                        margin-right: 10px;
                        content: counter(item);
                        color: #000;
                        width: 1.2em;
                        text-align: center;
                        display: none;
                    }

                    /*&:after {                        
                        content: url('./assets/images/tick-cross.jpg');
                        position: absolute;
                        top: 5px;
                        right: 0px;
                    }*/
                }
            }
            p{
                @include set-font('OpenSans-Regular', 18px, #000000);
            }
        }
        // .swiper-container-android .swiper-slide, .swiper-wrapper,.swiper-container-ios .swiper-slide {
        //     display: flex;
        //     align-items: center;
        // }
        .swiper-container-horizontal {
            .swiper-pagination-bullets{
                bottom: 0px;
            }
        }
        
        .swiper-pagination-bullet {
            --bullet-background: #555555;
            opacity: .6;
            
        }
        .swiper-pagination-bullet-active {
            --bullet-background-active:#A9D193;
        }
    }
    &.medium-class{
        .slider-container {
            ol{
                
                li{
                    
                    ion-checkbox {
                        --size: 24px;
                        --background-checked: #00A14D !important;
                        --border-color-checked: #00A14D !important;
                        margin-left: auto;
                        width: 100% !important;
                        height: 100%;
                        max-width: 18px;
                        max-height: 18px;
                        margin-top: 6px;
                    }               
                }
            } 
        }
    }
    &.large-class{
        .slider-container {
            ol{
                
                li{
                    
                    ion-checkbox {
                        --size: 24px;
                        --background-checked: #00A14D !important;
                        --border-color-checked: #00A14D !important;
                        margin-left: auto;
                        width: 100% !important;
                        height: 100%;
                        max-width: 20px;
                        max-height: 20px;
                        margin-top: 10px;
                    }               
                }
            } 
        }
    }
}

.register-page {
    .input-select-div {
        @include set-font('OpenSans-Regular', 14px, #000000);         
        padding: 5px 0px !important;
    }
    input.CountryNumberInput.form-control {

        @include set-font('OpenSans-Regular', 14px, #000000);         
        height: auto;
        border: 0px;
        border-bottom: 1px solid #A9D193;
        border-radius: 0px;
        width: 100%;
        padding: 8px 0px !important;
        outline: none;
    }
    .select2-selection.select2-selection--single {
        border: 0px;
        outline: none;
        height: auto;   
    }
}

/* LESSON SINGLE PAGE */
.lesson-page {
    .lesson-description-box{
        h2{
            @include set-font('Raleway-Bold',22px,#000000);
        }
        p{
            @include set-font('OpenSans-Regular',12px,#333333); 
        }
        h4{
            @include set-font('OpenSans-SemiBold',16px,#000000);
        }
        ul {
            margin: 0px;
            padding: 10px 0;
            li {
                @include set-font('OpenSans-Regular',12px,#333333);  
                list-style: none;
                position: relative;
                margin: 0px;
                padding-left: 20px;
                &:before{
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    border-top: 2px solid #1aae9f;
                    border-right: 2px solid #1aae9f;
                    display: block;
                    transform: rotate(45deg);
                    left: 0;
                    top: 5px;
                }
            }
        }
        ol {
            counter-reset: my-awesome-counter;
            list-style: none;
            padding-left: 32px;
            margin: 0px;
            li {
                @include set-font('OpenSans-Regular',12px,#333333);
                position: relative;
                ul{
                    margin: 0px;
                    padding: 10px 0;
                    li{
                        @include set-font('OpenSans-Regular',12px,#333333);  
                        list-style: none;
                        position: relative;
                        margin: 0px;
                        padding-left: 20px;
                        &:before{
                            content: "";
                            position: absolute;
                            width: 5px;
                            height: 5px;
                            border-top: 2px solid #1aae9f;
                            border-right: 2px solid #1aae9f;
                            display: block;
                            transform: rotate(45deg);
                            left: 0;
                            top: 5px;
                        }
                    }
                }
            }
            >li {
                margin: 0 0 1rem 0;
                counter-increment: my-awesome-counter;
                position: relative;
                &:before {
                    content: counter(my-awesome-counter);
                    @include set-font('OpenSans-Bold',14px,#fff);
                    font-weight: bold;
                    position: absolute;
                    --size: 22px;
                    left: calc(-1 * var(--size) - 10px);
                    line-height: var(--size);
                    width: var(--size);
                    height: var(--size);
                    top: -2;
                    background: #3fe9be;
                    border-radius: 50%;
                    text-align: center;
                }
            }
        }
    }
}

.quiz-page{
    .quiz-form{

        .question-options{

            .question-option{

                ion-radio {

                    .radio-inner {
                        width: 30%;
                        height: 30%;
                        border-radius: 50%;
                        border-color: #00A14D  !important;
                    }
                }
            }
        }
    }
}


.maps-page {
    h4 {
        @include set-font('Raleway-Bold', 26px, #0A0A0A);
    }
    p{
        @include set-font('OpenSans-Regular', 12px, #000000);
    }
    .map-content-p{
        @include set-font('OpenSans-Regular', 12px, #000000);
    }
}


.province-popup-wrapper{
    .content-box{
        .map-img-alert{
            @include set-font('OpenSans-Regular', 18px, #000000);
            text-align: center;
            padding: 10px 0;
        }
        .content-item-wrapper{
            .spa-row{
                margin-bottom: 20px;
                .left-sect{
                    h2{
                        @include set-font('OpenSans-Regular', 20px, #ffffff);                        
                        background-color: #252525;
                        text-align: center;                        
                        padding: 23px 0;
                        margin: 0;
                        text-transform: capitalize;
                    }
                    .sub-title{
                        display: flex;
                        background-color: #FFB860;
                        align-items: center;

                        .box{
                            width: 50%;
                            max-width: 50%;
                            text-align: center;
                            padding: 15px;
                            p{
                                @include set-font('OpenSans-SemiBold', 13px, #37487C);   
                                margin: 0px;                
                            }
                        }
                    }
                    .job-wage{
                        display: flex;
                        flex-wrap: wrap;
                        .item-box{
                            flex: 0 0 50%;
                            max-width: 50%;
                            h3{
                                @include set-font('Raleway-Bold', 15px, #ffffff);                 
                                padding: 24px 15px;
                                margin: 0;
                            }
                            ul{
                                margin-left: 0;
                                padding: 24px 20px;
                                margin-bottom: 0;
                                list-style: none;
                                li{
                                    @include set-font('OpenSans-SemiBold', 15px, #2C3460);                                                                            
                                    margin-bottom: 15px;
                                }
                            }
                            &.job{
                                background-color: #F2816E;
                                h3{
                                    background-color: #DB6E5C;
                                }
                                ul{
                                    li{
                                        color: #2C3460;
                                    }
                                }
                            } 
                            &.wage{
                                background-color: #585858;
                                h3{
                                    background-color: #474747; 
                                }
                                ul{
                                    li{
                                        color: #FFFFFF;
                                    }
                                }
                            }

                        }
                    }
                    .box-footer{
                        display: none;
                    } 
                }
                .right-sect{
                    flex: 0 0 100%;
                    max-width: 100%;
                    background-color: #252525;
                    @media only screen and (min-width: 1024px){
                        flex: 0 0 37.5%;
                        max-width: 37.5%;
                    }
                    .weather-box{
                        background-color: #24609F;
                        .title-sect{
                            text-align: center;
                            display: flex;
                            justify-content: space-around;
                            padding: 24.5px 25px 0 25px;
                            position: relative;
                            &:before{
                                content: "";
                                position: absolute;
                                bottom: 0;
                                width: 36px;
                                height: 1px;
                                background-color: #fff;
                                right: 0px;

                            }
                            &:after{
                                content: "";
                                position: absolute;
                                bottom: 0;
                                width: 36px;
                                height: 1px;
                                background-color: #fff;
                                left: 0px;
                   
                            }
                            
                            .img-box{
                                position: relative;
                            }
                            h2{

                                @include set-font('OpenSans-Regular', 20px, #ffffff);                                 
                                margin-bottom: 0;
                                position: relative;
                                &:after{
                                    content: "";
                                    position: absolute;
                                    bottom: 0;
                                    width: 100%;
                                    height: 1px;
                                    background-color: #ffffff;
                                    left: 0;
                                    right: 0;
                                }
                            }
                        }
                        .temp-title-box{
                            display: flex;
                            flex-wrap: wrap;
                            .average-box{
                                max-width: 50%;
                                flex: 0 0 50%;
                                padding: 5px 15px;
                                p{
                                    @include set-font('OpenSans-Regular', 11px, #ffffff);         
                                    text-align: center;
                                }
                            }
                        }
                        .temp-content-box{
                            display: flex;
                            flex-wrap: wrap;
                            position: relative;
                            padding: 20px 15px;
                            height: 102px;
                            align-items: center;
                            border-top: 1px solid #ffffff;
                            @media only screen and (min-width: 1366px){
                                padding: 20px 0px;
                            }
                            &:before{
                                content: "";
                                position: absolute;
                                top: 0;
                                height: 22px;
                                width: 1px;
                                background-color: #ffffff;
                                left: 0;
                                right: 0;
                                margin: auto;
                            }
                            &:after{
                                content: "";
                                position: absolute;
                                bottom: 0;
                                height: 22px;
                                width: 1px;
                                background-color: #ffffff;
                                left: 0;
                                right: 0;
                                margin: auto;
                            }
                            span{
                                max-width: 33.3333%;
                                flex: 0 0 33.3333%;
                                text-align: center;                           
                                @include set-font('OpenSans-Regular', 15px, #ffffff);
                            }
                        }
                    }
                    .population-settlement-box{
                        .population{
                            background-color: #2C3460;
                            padding: 22px 15px;
                            h3{
                                @include set-font('OpenSans-Regular', 15px, #ffffff);                                
                                text-align: center;
                                margin: 0;
                                font-weight: normal;	
                            }
                        }
                        .settlement-example{
                            padding: 20px 20px;
                            h3{
                                @include set-font('OpenSans-Semibold', 15px, #ffffff);                                      
                                line-height: 25px;
                            }
                            ul{
                                margin-left: 0;
                                li{
                                    font-family: 'OpenSans-Semibold';
                                    font-size: 16px;
                                    color: #ffffff;
                                    margin-bottom: 15px;
                                    position: relative;
                                    padding-left: 30px;
                                    line-height: 18px;
                                    @media only screen and (min-width: 1366px){
                                        font-size: 20px;
                                    }
                                    span{
                                        position: absolute;
                                        left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .box-footer{
                    background-color: #384380;
                    padding: 25px 30px;
                    
                    flex: 0 0 100%;
                    max-width: 100%;
                    $border-color: rgba(#2C3460, 1);
                    width: 300px;
                    min-height: 118px;
                    position: relative;
                    border-left: 40px solid $border-color;
                    padding: 15px;
                    color: rgba(black, 0.5);
                    font-size: small;
                    display: inline-block;
                    width: 100%;
                    h3{ 
                        @include set-font('OpenSans-SemiBold', 14px, #ffffff);                             
                        letter-spacing: 3px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        margin-left: -30px;
                        -webkit-transform: rotate(270deg);
                        -moz-transform: rotate(270deg);
                        -ms-transform: rotate(270deg);
                        -o-transform: rotate(270deg);
                        transform: rotate(270deg);
                        -webkit-transform-origin: 0 0;
                        -moz-transform-origin: 0 0;
                        -ms-transform-origin: 0 0;
                        -o-transform-origin: 0 0;
                         transform-origin: 0 0;
                    }
                    ul{
                        display: flex;
                        justify-content: space-between;
                        margin-left: 0;
                        flex-wrap: wrap;
                        list-style: none;;
                        margin-bottom: 0px;
                        li{
                            flex: 0 0 100%;
                            max-width: 100%;
                            a{
                                text-decoration: none;
                                @include set-font('OpenSans-SemiBold', 16px, #ffffff);                                
                                &:hover{
                                    opacity: 0.7;
                                }
                            }
                        }
                    }
                } 
            }
            
        }
    }
}

.terms-page {
    .terms-main-box{
        h1{
            @include set-font('Raleway-Bold',24px,#000000);
        }
        h2{
            @include set-font('Raleway-Bold',22px,#000000);
        }
        h3{
            @include set-font('OpenSans-SemiBold',16px,#80BEC1);
            text-transform: uppercase;
        }
        h4{
            @include set-font('OpenSans-SemiBold',16px,#80BEC1);
            text-transform: uppercase;
        }
        p{
            @include set-font('OpenSans-Regular',12px,#333333); 
        }

    }
    .terms-accordion {
        .path-icon{
            display:none;
        }
        .lesson-title{
            @include set-font('OpenSans-Bold',18px,#000000);
            text-transform: uppercase;
        }
        .lesson-description{
            width: 100% !important;
            max-width: 100% !important;
            flex: 0 0 100% !important;
        }
        .lessons {
            margin-bottom: 15px !important;
        }
        .less-exp-size-1{
            display:none;
        }
        p, ul li{
            @include set-font('OpenSans-Regular',16px,#000000); 
            // line-height: 20px;
        }
        .lesson-expand {
            .desc-box {
                border:none;
            }
        }
    }
    .read-more-box {
        display: none;
    }
}


.about-page {
    .about-content-top-container{
        .about-content-top{
            .about-content-p{
                @include set-font('OpenSans-Regular', 16px, #333333);
                margin-bottom: 16px;
            }
            p {
                @include set-font('OpenSans-Regular', 16px, #333333);
                margin-bottom: 16px;
            }   
        }
    }
    .about-content-bottom-container{

        .about-content-bottom{

            h2{
                @include set-font('Raleway-Bold', 29px, #FFFFFF);
            }
            p{
                @include set-font('OpenSans-Regular', 16px, #FFFFFF);
            }
        }
    }
}

.contact-page{
    &.ion-padding{
        --padding-start: var(--ion-padding, 10px);
        --padding-end: var(--ion-padding, 10px);
        --padding-top: var(--ion-padding, 10px);
        --padding-bottom: var(--ion-padding, 10px);
    }

    .contact-info-grid{

        .module-card{
      
            .module-row {
                .thumb-img-wrap{
                    display:flex;
                    align-items: center;
                }
                .contact-link{
                    display: flex;
                    flex-direction: column;
                    p{
                        margin-bottom: 0;
                    }
                    a{
                        @include set-font('OpenSans-SemiBold', 17px, #000000);                ; 
                        text-transform: uppercase;
                        word-break: break-word;
                        @media screen and (max-width: 374px) {
                            font-size: 12px;
                        }
                    }
                }


            }
        }
    }
}

.no-dataavailable{
    @include set-font('OpenSans-Regular', 18px, #000000);
    text-align: center;
    padding: 10px 0;
}

div#chat-widget-container {
    top: 10%;
    height: 90%  !important;
}

.lessons-page{
    .lesson-module-info{
        .module-content-des{
            @include set-font('OpenSans-Regular', 16px, #000);
        }
        video{
            max-width: -webkit-fill-available;
        }
    }
}
.alignar {
    text-align: right;

    .lesson-page {
        .lesson-description-box {
            ol {
                li {
                    padding-right: 10px;
                    direction: rtl;

                    &:before {
                        right: calc(-1 * var(--size) - -3px);
                        left: unset;
                    }
                }
            }
            ul {
                li {
                    // padding-right: 32px;
                    // direction: rtl;

                    &:before {
                        right: 0;
                        left: unset;
                    }
                }
            }
        }
    }
    .quiz-form{
        direction: rtl;
        .question-option {
            text-align: right;
            // .sc-ion-label-ios-h{
            //     padding-right: 25px;
            // }
            .arabic-labels {
                padding-right: 22px;
            }
        }
    }
    
    .calendar-image{
        left:0;
        right: auto !important;
    }
    .change-password-box {
        direction: rtl;
    }
    .map-row{
        .compare-wrapper{
            .compare-box{
                direction: rtl; 
            }
        }
    }
    .myaccount-page {
        .module-info{
            direction: rtl;
        }
    }  
    
}
.aligntermar{
    direction: rtl;
}
.map-sp
{
    .content-box {
        .content-item-wrapper{
            .spa-row{
                overflow: auto;
            }
        }
    }  
} 