<ion-header class="loggedin-header ion-align-self-center">
  <ion-toolbar class="new-background-color ion-align-self-center ion-justify-content-center">
      <ion-buttons  slot="start" >
          <ion-menu-button class="spa-side-menu"></ion-menu-button>
          <ion-back-button color="white"></ion-back-button>
      </ion-buttons>      
      <!-- <ion-title>{{ 'MODULE.title' | translate }}</ion-title>       -->
      
        <ion-title *ngIf="lessonsInfo">{{lessonsInfo.page_title}}</ion-title> 
      
      
      
  </ion-toolbar>
</ion-header>

<ion-content class="lessons-page" >

  <ion-grid class="ion-no-padding" *ngIf="lessonsInfo">
    <ion-row>
      <ion-col class="ion-padding lesson-module-info" *ngIf="lessonsInfo">
        <h2>{{lessonsInfo.title}}</h2>
        <p class="module-content-des" [innerHTML]="lessonsInfo.module_desc | safe: 'html'"></p>
        <div *ngIf="moduleId == '3646'">
          <iframe *ngIf="trustedVideoUrl" id="videoId2" [src]="trustedVideoUrl" width="100%" height="250"  frameborder="0"  allowfullscreen></iframe>  
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <app-accordion *ngFor="let lesson of lessonsInfo.lessons; let i=index" name="{{ lesson.post_title }}" shortText = "{{ lesson.sub_title }}" [routerLink]="['/start/tabs','lessons', moduleId, lesson.les_uid]">{{lesson.post_title}}</app-accordion>
        <!-- <app-accordion
        *ngFor="let lesson of lessonsInfo.lessons; let i=index"
        id = "{{ lesson.les_uid }}"
        moduleId = "{{moduleId}}"
        name="{{ lesson.post_title }}"
        shortText = "{{ lesson.sub_title }}"
        description="{{ lesson.post_content }}"
        index="{{i}}"
        currentIndex = "{{lessonsInfo.index}}"
        readMore = "{{lessonsInfo.read_more}}" 
        (change)="captureName($event)"></app-accordion> -->
      </ion-col>
    </ion-row>    
  </ion-grid>
  <ion-grid *ngIf="lessonsInfo == ''">
    <ion-row>
      <ion-col>
        <p class="no-dataavailable">{{ noData }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
