@import "../../theme/ionic-mixin.scss";
.loggedin-header{
    @include common-header();
    .home-image {
        width: 86px;
    }
}
.home-page{
    .slider-container{
        padding: 15px;
        padding-top: 15px;
        .slides{

            .home-slide{
                .slide-row{
    
                    h1{
                        @include set-font('Raleway-Bold', 40px, #0A0A0A);
                        padding-bottom: 20px;
                        letter-spacing: 0px;
                        text-transform: capitalize;
                    }
                    video {
                        width: 79%;
                        height: auto;
                        object-fit: cover;                        
                    }        
                    p{
                        @include set-font('OpenSans-Regular', 13px, #000000);
                    }
                    h2{
                        margin-top: 0px !important;
                    }
                }
                

            }
            
        }
    }    
}



@media only screen 
and (min-width: 320px) 
and (max-width: 480px)
and (orientation: landscape) {
    .home-page{
        .slider-container{
            .slides{
                .home-slide{
                    .slide-row{
                        video {
                            width: auto;
                            height: 44vh;
                        }
                    }
                }
            }
        }
    }

}
@media only screen 
and (min-width: 320px) 
and (max-width: 568px)
and (orientation: landscape) {
    .home-page{
        .slider-container{
            .slides{
                .home-slide{
                    .slide-row{
                        video {
                            width: auto;
                            height: 44vh;
                        }
                    }
                }
            }
        }
    }

}
/* Landscape */
@media only screen 
and (min-width: 375px) 
and (max-width: 667px) 
and (orientation: landscape) { 
    .home-page{
        .slider-container{
            .slides{
                .home-slide{
                    .slide-row{
                        video {
                            width: auto;
                            height: 44vh;
                        }
                    }
                }
            }
        }
    }

}
/* Landscape */
@media only screen 
and (min-width: 414px) 
and (max-width: 736px) 
and (orientation: landscape) { 
    .home-page{
        .slider-container{
            .slides{
                .home-slide{
                    .slide-row{
                        video {
                            width: auto;
                            height: 44vh;
                        }
                    }
                }
            }
        }
    }

}
@media only screen 
and (min-width: 375px) 
and (max-width: 812px) 
and (orientation: landscape) { 
    .home-page{
        .slider-container{
            .slides{
                .home-slide{
                    .slide-row{
                        video {
                            width: auto;
                            height: 44vh;
                        }
                    }
                }
            }
        }
    }

}
/* ----------- Galaxy S3 ----------- */

/* Landscape */
@media screen 
  and (min-width: 320px) 
  and (max-width: 640px) 
  and (orientation: landscape) {
    .home-page{
        .slider-container{
            .slides{
                .home-slide{
                    .slide-row{
                        video {
                            width: auto;
                            height: 44vh;
                        }
                    }
                }
            }
        }
    }

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */
/* Landscape */

/* Landscape */
@media screen 
  and (min-width: 360px) 
  and (max-width: 640px) 
  and (orientation: landscape) {
    .home-page{
        .slider-container{
            .slides{
                .home-slide{
                    .slide-row{
                        video {
                            width: auto;
                            height: 44vh;
                        }
                    }
                }
            }
        }
    }

}

/* Portrait and Landscape */
@media screen 
  and (min-width: 384px) 
  and (max-width: 592px) 
  and (orientation: landscape) {
    .home-page{
        .slider-container{
            .slides{
                .home-slide{
                    .slide-row{
                        video {
                            width: auto;
                            height: 44vh;
                        }
                    }
                }
            }
        }
    }

}

/* Landscape */
@media screen 
  and (min-width: 384px) 
  and (max-width: 592px) 
  and (orientation: landscape) {
    .home-page{
        .slider-container{
            .slides{
                .home-slide{
                    .slide-row{
                        video {
                            width: auto;
                            height: 44vh;
                        }
                    }
                }
            }
        }
    }

}

/* ----------- Windows Phone ----------- */

/* Landscape */
@media screen 
  and (min-width: 480px) 
  and (max-width: 800px) 
  and (orientation: landscape) {

    .home-page{
        .slider-container{
            .slides{
                .home-slide{
                    .slide-row{
                        video {
                            width: auto;
                            height: 44vh;
                        }
                    }
                }
            }
        }
    }

}

@media screen 
  and (min-width: 411px) 
  and (max-width: 823px) 
  and (orientation: landscape) {

    .home-page{
        .slider-container{
            .slides{
                .home-slide{
                    .slide-row{
                        video {
                            width: auto;
                            height: 44vh;
                        }
                    }
                }
            }
        }
    }

}

@media screen 
  and (min-width: 731px) 
  and (max-width: 411px) 
  and (orientation: landscape) {

    .home-page{
        .slider-container{
            .slides{
                .home-slide{
                    .slide-row{
                        video {
                            width: auto;
                            height: 44vh;
                        }
                    }
                }
            }
        }
    }

}
