<ion-header class="loggedin-header ion-align-self-center">
    <ion-toolbar class="new-background-color ion-align-self-center ion-justify-content-center">
        <ion-buttons  slot="start" >
            <ion-menu-button class="spa-side-menu"></ion-menu-button>
        </ion-buttons>
        <ion-title><ion-img class="home-image" src="../../assets/images/home-title.png"></ion-img></ion-title>    
    </ion-toolbar>
</ion-header>
<ion-content class="home-page ion-pading ion-align-self-center" 
 [ngClass]="[selectedFontSize == 1 ? 'normal-class' : (selectedFontSize==1.5 ? 'medium-class' : 'large-class')]"
 [ngStyle]="{ '--pixels' : selectedFontSize }">
 
  <div class="slider-container ion-align-self-center">
    <ion-slides class="slides ion-align-self-center" pager="true" [options]="slideOpts" >
      <ion-slide class="home-slide" *ngFor= "let slide of homeData">
        <ion-row class="slide-row">
          <ion-col>
            <h1 *ngIf="slide.title">{{slide.post_title}}</h1>                    
            <p *ngIf="slide.short_description">{{slide.short_description}}</p>
            <div overflow-scroll="true">
              <video id="videoId1" autobuffer  poster="../../assets/images/poster3.jpg"  *ngIf="slide.video_url" controls="controls" preload="metadata"  webkit-playsinline="webkit-playsinline" class="videoPlayer">
                <source src="{{slide.video_url}}" type='video/mp4' />
                <source src="{{slide.video_url}}" type="video/webm">
                <source src="{{slide.video_url}}" type="video/ogg">
              </video>
            </div>
            
            <h1 *ngIf="slide.post_title">{{slide.post_title}}</h1>
            <div *ngIf="slide.image"><ion-img  [src]="slide.image"></ion-img></div>
            <div class="ion-text-start slide-content new" *ngIf="slide.list_data"> 
              <ul class="home-slider-list">
                <li *ngFor= "let list_info of slide.list_data; let i = index">
                  <ion-label>{{list_info.post_content}}</ion-label>
                  <!-- <ion-checkbox color="primary" slot="end" (ionChange)="goToRegisterPage($event, i)"></ion-checkbox> -->
                </li>                     
              </ul>
            </div>
            <div class="ion-text-start slide-content" *ngIf="slide.post_content" [innerHTML]="slide.post_content | safe: 'html'">
            </div>
           
            <div class="slide-content" *ngIf="slide.post_image"><ion-img  [src]="slide.post_image"></ion-img></div>         
<!-- changes -->
          </ion-col>
        </ion-row>      
      </ion-slide>
    </ion-slides>
  </div>

  <ion-list *ngIf="nativeData"> {{nativeData}}
    <ion-item button *ngFor="let item of nativeData" >
      <ion-label class="ion-text-wrap">
        <h3>{{ item.ID }}</h3>
        {{ item.post_title }}
      </ion-label> 
    </ion-item>
  </ion-list>
  <!-- <ion-list *ngIf="nativeData1">
    <ion-item button *ngFor="let item of (nativeData1 )" >
      <ion-label class="ion-text-wrap">
        {{item}}
        <h3>{{ item.ID }}</h3>
        {{ item.post_title }}
      </ion-label>
    </ion-item>
  </ion-list> -->
  <ion-grid *ngIf="!homeData">
    <ion-row>
      <ion-col>
        <p class="no-dataavailable">{{ noData }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
