@import "../../theme/ionic-mixin.scss";
.loggedin-header{
    @include common-header();
}

.myaccount-page{
    --ion-item-background-activated: transparent;
    ion-segment-button {
        --color-checked: #00A14D ;
        --indicator-color-checked: #00A14D ;
        @include set-font('Raleway-Bold', 14px, #000000);
    }
    h2{
        padding-top: 20px;
        padding-bottom: 10px;
        @include set-font('Raleway-Bold', 22px, #000000);
        @media screen and (max-width: 374px) {

        }
    }
    .myaccount-labels{
        @include set-font('OpenSans-Regular', 12px, #3D3D3D);
        text-transform: uppercase; 
    }
    .label-inner{
        @include set-font('OpenSans-Regular', 12px, #3D3D3D);
    }
    .myaccount-form{
        max-width:375px;
        .myaccount-form-group {
            padding: 30px 0px 0px 0px !important;
            .error{
                @include set-font('OpenSans-Regular', 12px,red);
            }
            .myaccount-labels{
                @include set-font('OpenSans-Regular', 12px, #3D3D3D);
                text-transform: uppercase;
                &.change-pass-label{
                    @include set-font('Raleway-Bold', 16px, #000000);
                }
            }
            .myaccount-inputs {
                @include set-font('OpenSans-Regular', 14px, #000000);        
                border-bottom: 1px solid #A9D193;
                padding: 5px 0px !important;    
                .calendar-image{
                    position: absolute;
                    right: 0;
                }        
            }  
            .change-password-box{
                display: flex;
                ion-tem{
                    --background-activated:transparent;
                    width:100%;
                    &.activated {
                        --background-activated:transparent;
                    }
                    
                }
                .myaccount-checkbox{
                    margin-right: 10px;
                    
                }
                .myaccount-labels{
                    max-width: 290px;
                    text-transform: inherit;
                    padding-top: 4px;
                } 
                // ion-checkbox{
                //     background-color: transparent;
                //     background-size: cover;
                //     border: 1px solid #80BEC1;
                //     &.myaccount-checkbox{
                //         background-image: url(/src/assets/images/checkbox.png);
                //     }
                // }
            } 
            .short-note{
                @include set-font('OpenSans-Regular', 14px, #80BEC1);
            }
           
        }
        .sign-in-buttons{
            @include button-style();
            padding:5px;
            width:100%;
            height: 55px;
            margin-top:25px;
        }
        .nomodules{
            @include set-font('OpenSans-Regular', 12px, #80BEC1);
        }
    }
}
.active {
    display: block
 }

 .inactive {
    display: none;
 }

 .module-info{
     .header-row{
         .header-col{
            @include set-font('Raleway-Bold', 16px, #000000);
         }
     }
     .get_certificate{
        @include button-style();
        padding:5px;
        font-size: 10px;
     }
     .info-col{
        @include set-font('OpenSans-Regular', 14px, #000);
     }
 }