<ion-header class="loggedin-header ion-align-self-center">
  <ion-toolbar class="new-background-color ion-align-self-center ion-justify-content-center">
      <ion-buttons  slot="start" >
          <ion-menu-button class="spa-side-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ 'MYACCOUNT.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding myaccount-page" >
  <ion-segment [(ngModel)]="segment" *ngIf="userInfo">
    
    <ion-segment-button value="user">
      {{ 'MYACCOUNT.accountInfo' | translate }}
    </ion-segment-button>
    <ion-segment-button value="module">
      {{ 'MYACCOUNT.moduleInfo' | translate }}
    </ion-segment-button>

  </ion-segment>
  <ion-grid class="container" *ngIf="userInfo" [ngSwitch]="segment" >
    
    <div *ngSwitchCase="'user'">
      <h2>{{ 'MYACCOUNT.heading' | translate }}</h2>
      <ion-row lines="none" class="myaccount-form-group">
        <ion-col>
          <ion-label class="myaccount-labels" position="stacked">{{ 'MYACCOUNT.email' | translate }}: </ion-label>
          <div class="label-inner">{{userInfo.useremail}}</div>
        </ion-col>
        <ion-col>
          <ion-label class="myaccount-labels" position="stacked">{{ 'MYACCOUNT.phoneNumber' | translate }}: </ion-label>
          <div class="label-inner">{{userInfo.username}}</div>
        </ion-col>
      </ion-row>  
      <form novalidate  class="myaccount-form" [formGroup]="myaccountForm"  (ngSubmit)="myaccountSave(myaccountForm)" >

        <ion-input value="{{userInfo.userid}}" class="myaccount-inputs" formControlName="userid" type="hidden" ></ion-input>
        <ion-row lines="none" class="myaccount-form-group">
          <ion-col>
            <ion-label class="myaccount-labels" position="stacked">{{ 'MYACCOUNT.firstName' | translate }}</ion-label>
            <ion-input value="{{userInfo.firstname}}" class="myaccount-inputs" formControlName="first_name" type="text" ></ion-input>
            <div class="error" *ngIf="myaccountForm.get('first_name').hasError('required') && myaccountForm.get('first_name').touched">
              {{ 'MYACCOUNT.required' | translate }}
            </div>
          </ion-col>
        </ion-row>  
        
        <ion-row lines="none" class="myaccount-form-group">
          <ion-col>
            <ion-label class="myaccount-labels" position="stacked">{{ 'MYACCOUNT.lastName' | translate }}</ion-label>
            <ion-input value="{{userInfo.lastname}}" class="myaccount-inputs" formControlName="last_name" type="text" ></ion-input>
            <div class="error" *ngIf="myaccountForm.get('last_name').hasError('required') && myaccountForm.get('last_name').touched">
              {{ 'MYACCOUNT.required' | translate }}
            </div>
          </ion-col>
        </ion-row>   

        <ion-row lines="none" class="myaccount-form-group">
          <ion-col>
            <ion-label class="myaccount-labels" position="stacked">{{ 'MYACCOUNT.UCINumber' | translate }}</ion-label>
            <ion-input value="{{userInfo.uci_number}}" class="myaccount-inputs" type="text" formControlName="uci_number" ></ion-input>
            <div class="error" *ngIf="myaccountForm.get('uci_number').hasError('required') && myaccountForm.get('uci_number').touched">
              {{ 'MYACCOUNT.required' | translate }}
            </div>
          </ion-col>
        </ion-row>

        <ion-row lines="none" class="myaccount-form-group">
          <ion-col>
            <ion-label class="myaccount-labels" position="stacked">{{ 'MYACCOUNT.dob' | translate }}</ion-label>
            <ion-input value="{{userInfo?.date_of_birth}}" class="myaccount-inputs" readonly formControlName="dob"
                [liIonic4Datepicker]="datePickerObj"
                ><ion-img class="calendar-image " width="19px" height="19px" src="/assets/images/calendar.png"></ion-img>
            </ion-input>
            <div class="error" *ngIf="myaccountForm.get('dob').hasError('required') && myaccountForm.get('dob').touched">
              {{ 'MYACCOUNT.required' | translate }}
            </div>
          </ion-col>
        </ion-row>

        <ion-row lines="none" class="myaccount-form-group ">
          <ion-col class="change-password-box">
            <ion-item lines="none" class="ion-no-padding">
              <ion-checkbox checked="false" class="myaccount-checkbox" formControlName="pass_check" (click)="passwordCheck()"  [ngClass]="this.isMenuOpen ? 'parent-active' : 'parent-inactive'"></ion-checkbox>          
              <ion-label class="myaccount-labels change-pass-label" >{{ 'MYACCOUNT.changePassword' | translate }}</ion-label>            
            </ion-item>
          </ion-col>
        </ion-row>
        
        <div class="passwordBoxes" [ngClass]="this.isMenuOpen ? 'active' : 'inactive'">


          <ion-row lines="none" class="myaccount-form-group">
            <ion-col>
              <ion-label class="myaccount-labels" position="stacked">{{ 'MYACCOUNT.currentPassword' | translate }}</ion-label>
              <ion-input class="myaccount-inputs" type="password" formControlName="password" ></ion-input>
            
            </ion-col>
          </ion-row>

          <ion-row lines="none" class="myaccount-form-group">
            <ion-col>
              <ion-label class="myaccount-labels" position="stacked">{{ 'MYACCOUNT.newPassword' | translate }}</ion-label>
              <ion-input class="myaccount-inputs" type="password" formControlName="new_password"></ion-input>
              <div class="error" *ngIf="myaccountForm.get('new_password').hasError('minlength') && myaccountForm.get('new_password').touched">
                {{ 'MYACCOUNT.characterLength' | translate }}
            </div>
            </ion-col>
          </ion-row>

          <ion-row lines="none" class="myaccount-form-group">
            <ion-col>
              <ion-label class="myaccount-labels" position="stacked">{{ 'MYACCOUNT.retypePassword' | translate }}</ion-label>
              <ion-input class="myaccount-inputs" type="password" formControlName="confirm_password" ></ion-input>
              <div class="error" *ngIf="myaccountForm.get('confirm_password').hasError('minlength') && myaccountForm.get('confirm_password').touched">
                {{ 'MYACCOUNT.characterLength' | translate }}
              </div>
              <div class="error" *ngIf="!myaccountForm.get('confirm_password').errors &&
              myaccountForm.hasError('passwordNotMatch') && ( myaccountForm.get('confirm_password').touched)">
              {{ 'MYACCOUNT.confirmPassword' | translate }}
              </div>
            </ion-col>
          </ion-row>
        </div>

        <ion-row lines="none">
          <ion-col>    
            <ion-button  class="ion-no-margin sign-in-buttons" size="large" expand="full" type="submit" expand="full" color="#1AAE9F">
              {{ 'MYACCOUNT.saveChanges' | translate }}
            </ion-button>      
          </ion-col>
        </ion-row>

      </form>
    </div>
  <div *ngSwitchCase="'module'">
  <div *ngIf="userInfo" class="module-info" >
    <div *ngIf="userInfo.module_info.length > 0">
      <h2>{{ 'MYACCOUNT.completedModules' | translate }}</h2>
      <ion-row *ngFor="let module of userInfo.module_info; let i=index">
        <ion-col size="1" class="info-col">{{i+1}}</ion-col>
        <ion-col size="11" class="info-col">{{module.post_title}}</ion-col>
        <ion-col size="1" class="info-col"></ion-col>
        <ion-col size="11">
          <ion-button id="{{module.ID}}" color="#1AAE9F" size="small" *ngIf="module.ID != 3640" class="ion-no-margin get_certificate" (click)="getCertificate($event)">
            {{ 'MYACCOUNT.getYourCertificate' | translate }}
        </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div class="nomodules" *ngIf="userInfo.module_info.length == 0">      
      <h2>{{ 'MYACCOUNT.noModule' | translate }}</h2>
    </div>
  </div>
  </div>
  </ion-grid>
  <ion-grid *ngIf="!userInfo">
    <ion-row>
      <ion-col>
        <p class="no-dataavailable">{{ this.noData }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
