<ion-header>
</ion-header>

<ion-content class="ion-padding register-page">
  <ion-grid class="logo-container" >
      <ion-row>
        <ion-col class="ion-text-center">
            <ion-router-link color="#A9D193" [routerLink]="['/start/tabs/home']" routerDirection="forward" >
              <ion-img class="logo-image" width="158px" height="161px" src="/assets/images/login-logo.png"></ion-img>
            </ion-router-link>
            <h2 class="logo-title">{{ 'REGISTER.title' | translate}}</h2>
            <p class="logo-desc">{{ 'REGISTER.subtitle' | translate}}</p>
        </ion-col>
      </ion-row>
    
      <form novalidate  class="register-form" [formGroup]="registerForm" (ngSubmit)="register(registerForm)" >
        <ion-row lines="none" class="register-form-group">
          <ion-col>
            <ion-label class="register-labels" position="stacked">{{ 'REGISTER.firstname' | translate}}</ion-label>
            <ion-input class="register-inputs" formControlName="first_name" type="text" ></ion-input>
            <div class="error" *ngIf="registerForm.get('first_name').hasError('required') && registerForm.get('first_name').touched">
              {{ 'REGISTER.validationMsg' | translate}}
            </div>
          </ion-col>
        </ion-row>      
        <ion-row lines="none" class="register-form-group">
          <ion-col>
            <ion-label class="register-labels" position="stacked">{{ 'REGISTER.lastname' | translate}}</ion-label>
            <ion-input class="register-inputs" type="text" formControlName="last_name" name="last_name"></ion-input>
            <div class="error" *ngIf="registerForm.get('last_name').hasError('required') && registerForm.get('last_name').touched">
              {{ 'REGISTER.validationMsg' | translate}}
            </div>
          </ion-col>
        </ion-row>  
        <ion-row lines="none" class="register-form-group">
          <ion-col>
            <ion-label class="register-labels" position="stacked">{{ 'REGISTER.uciNumber' | translate}}</ion-label>
            <ion-input class="register-inputs" type="text" formControlName="uci_number" name="uci_number"></ion-input>
            <div class="error" *ngIf="registerForm.get('uci_number').hasError('required') && registerForm.get('uci_number').touched">
              {{ 'REGISTER.validationMsg' | translate}}
            </div>
            <ion-label class="short-note ion-text-end" (click)="presentPopover($event)" tooltip="Im a tooltip below a button" positionV="bottom" arrow="true" >{{ 'REGISTER.tooltipText' | translate}}</ion-label>
            <!-- <button type="button" ion-button tooltip="I'm a tooltip below a button" positionV="bottom" arrow>
              Press me to see a tooltip
            </button> -->
          </ion-col>
        </ion-row>  
        <ion-row lines="none" class="register-form-group">
          <ion-col>
            <ion-label class="register-labels" position="stacked">{{ 'REGISTER.dob' | translate}}</ion-label>
            <ion-input class="register-inputs" readonly formControlName="dob"
                [liIonic4Datepicker]="datePickerObj"
            ><ion-img class="calendar-image " width="19px" height="19px" src="/assets/images/calendar.png"></ion-img>
            </ion-input>
            <div class="error" *ngIf="registerForm.get('dob').hasError('required') && registerForm.get('dob').touched">
              {{ 'REGISTER.validationMsg' | translate}}
            </div>
          </ion-col>
        </ion-row>  
        <ion-row lines="none" class="register-form-group">
          <ion-col>
            <ion-label class="register-labels" position="stacked">{{ 'REGISTER.email' | translate}}</ion-label>
            <ion-input class="register-inputs" type="email" formControlName="email"></ion-input>
            <div class="error" *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
              {{ 'REGISTER.validationMsg' | translate}}
            </div>
            
          </ion-col>
        </ion-row>  
        <ion-row lines="none" class="register-form-group">
          <ion-col>
            <ion-label class="register-labels" position="stacked">{{ 'REGISTER.phone' | translate}}</ion-label>
            <intl-input-phone formControlName="phone" [ConfigurationOption]="configOption1" ></intl-input-phone>
            <!-- <ion-input class="register-inputs" type="text"  formControlName="phone"></ion-input> -->
            <div class="error" *ngIf="registerForm.get('phone').hasError('required') && registerForm.get('phone').touched">
              {{ 'REGISTER.validationMsg' | translate}}
            </div>
          </ion-col>
        </ion-row>  

        <ion-row lines="none" class="register-form-group">
            <ion-col>
              <p class="password-type-text">{{ 'REGISTER.text' | translate}}</p>
              <ion-list class="radio-list">
                  <ion-radio-group class="radiobtn-wrap" (ionChange)="checkValueradio($event)">
                    <ion-item class="radiobtn ion-no-padding"   lines="none">
                      <ion-radio disabled="{{textDisabled}}" mode="md"  value="text" formControlName="message_type" id="text_message" class="bg-type-radio" checked="{{textChecked}}"></ion-radio>
                      <ion-label for="text_message" class="bg-type-text">{{ 'REGISTER.textmsg' | translate}}</ion-label>
                    </ion-item>
                
                    <ion-item class="radiobtn ion-no-padding"   lines="none">
                      <ion-radio disabled="{{emailDisabled}}" mode="md"  value="email" formControlName="message_type" id="email_message"  class="bg-type-radio" checked="{{emailChecked}}"></ion-radio>
                      <ion-label for="email_message" class="bg-type-text">{{ 'REGISTER.textEmail' | translate}}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                  <div class="error" *ngIf="registerForm.get('message_type').hasError('required') && registerForm.get('message_type').touched">
                    {{ 'REGISTER.validationMsg' | translate}}
                  </div>
                </ion-list>
            </ion-col>
        </ion-row>  

        <ion-row lines="none" class="register-form-group">
          <ion-col class="agree-box ">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label class="hide" ><a href="https://estartsuccess.ca">and I agree to the Terms and Conditions</a></ion-label>
              <ion-checkbox  class="hide" name="agreement" ng-model="myCtrl.agreement"></ion-checkbox>
              <ion-label class="register-labels ion-text-wrap" >{{ 'REGISTER.iagree' | translate}} 
                <a [routerLink]="'../terms'">{{ 'REGISTER.terms' | translate}}</a>
              </ion-label>
              <ion-checkbox color="light" class="register-checkbox"  formControlName="rec_check" slot="start"></ion-checkbox>
              
              <div class="error" *ngIf="registerForm.get('rec_check').hasError('required') && registerForm.get('rec_check').touched">
                {{ 'REGISTER.validationMsg' | translate}}
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row lines="none" class="register-form-group ">
          <ion-col class="agree-box agree-oop">
            <ion-item lines="none" class="ion-no-padding">
            <ion-checkbox color="light" class="register-checkbox" formControlName="oop_check"></ion-checkbox>
            <ion-label class="register-labels ion-text-wrap"  >{{ 'REGISTER.conditions' | translate}}</ion-label>
            <div class="error" *ngIf="registerForm.get('oop_check').hasError('required') && registerForm.get('oop_check').touched">
              {{ 'REGISTER.validationMsg' | translate}}
            </div>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row lines="none" class="register-form-group ">
          <ion-col class="agree-box agree-oop">
            <ion-item lines="none" class="ion-no-padding">
            <ion-checkbox color="light" class="register-checkbox" formControlName="sopa_register"></ion-checkbox>
            <ion-label class="register-labels ion-text-wrap"  >{{ 'REGISTER.sopa' | translate}}
            <a [routerLink]="'https://arriveprepared.ca'">{{ 'REGISTER.sopalink' | translate}}</a> {{ 'REGISTER.sopabracket' | translate}}
          </ion-label>
            <div class="error" *ngIf="registerForm.get('sopa_register').hasError('required') && registerForm.get('sopa_register').touched">
              {{ 'REGISTER.validationMsg' | translate}}
            </div>
            </ion-item>
          </ion-col>
        </ion-row>
        
        
        <ion-row lines="none">
          <ion-col>    
            <ion-button [disabled]="!registerForm.valid || registerForm.get('rec_check').value != true  || registerForm.get('oop_check').value != true || registerForm.get('sopa_register').value != true " class="ion-no-margin sign-in-buttons" size="large" expand="full" type="submit" expand="full" color="#1AAE9F">
              {{ 'REGISTER.sigup' | translate}}
            </ion-button>      
          </ion-col>
        </ion-row>
        <p class="register-text">{{ 'REGISTER.account' | translate}} <ion-router-link color="#A9D193" [routerLink]="['/start/tabs/login']" routerDirection="forward" >{{ 'REGISTER.signin' | translate}}</ion-router-link>
          <!-- <a color="#A9D193" href="login">{{ 'REGISTER.signin' | translate}}</a> -->
        </p>
        <!--  -->
      </form>
    </ion-grid>

   
    
</ion-content>



