@import "../../theme/ionic-mixin.scss";
.register-page{
    @include logo-box();
    .register-form{
        max-width: 375px;
        width: 100%;
        margin: auto;
        --ion-item-background-activated: transparent;
        .register-form-group {
            padding: 0px 0px 0px 0px !important;
            .error{
                @include set-font('OpenSans-Regular', 12px,red);
            }
            .register-labels{
                @include set-font('OpenSans-Regular', 12px, #3D3D3D);
                text-transform: uppercase;
            }
            .register-inputs {
                @include set-font('OpenSans-Regular', 14px, #000000);        
                border-bottom: 1px solid #00A14D;
                padding: 5px 0px !important;    
                .calendar-image{
                    position: absolute;
                    right: 0;
                }        
            }  
            .hide
            {
                display: none;
            }
            .agree-box{
                // display: flex;
                ion-tem{
                    --ion-background-color:transparent;
                    width:100%;
                    &.activated {
                        --background-activated:transparent;
                    }
                    
                }
                .register-checkbox{
                    margin-right: 10px;
                    margin-left: 0px;
                }
                .register-labels{
                    max-width: 290px;
                    text-transform: inherit;
                    padding-top: 2px;
                    a{
                        @include set-font('OpenSans-SemiBold', 13px, #1267ac);  
                        text-decoration: none;
                    }
                } 
            } 
            .short-note{
                @include set-font('OpenSans-Regular', 14px, #1267ac);
                margin: 0px;
                float: right;
            }
           
        }
        .forgot-text{
            @include set-font('OpenSans-Regular', 14px, #1267ac);  
            width:100%;
        } 
        .sign-in-buttons{
            @include button-style();
            padding:5px;
            width:100%;
            height: 55px;
            margin-top:25px;
        }
        .register-text{
            @include set-font('OpenSans-Regular', 12px, #3D3D3D);  
            text-align: center;
            padding-top: 10px;
            ion-router-link{
                @include set-font('OpenSans-SemiBold', 12px, #00A14D);  
                text-decoration: none; 
            }
            a{
                @include set-font('OpenSans-SemiBold', 12px, #00A14D);  
                text-decoration: none;
            }
        }
       .password-type-text{
            @include set-font('OpenSans-Regular', 12px, #333333);  
       }
       .radio-list{
            margin-bottom: 0;
            .radiobtn-wrap{
                display: flex;
                .bg-type-radio{
                    margin-right:5px;
                }
                // .radiobtn{
                //     --background-activated:transparent;
                //     display:flex;
                //     max-width:49%;	
                //     flex: 0 0 49%;
                //     position: relative;
                //     .bg-type-radio{
                //         // display: none;
                //         position: absolute;
                //         width: 100%;
                //         &.radio-checked ~ .bg-type-text  {
                //             background-color: #00A14D;
                //             border:1px solid #00A14D;
                //             @include set-font('OpenSans-SemiBold', 16px, #fff);  
                //         }
                    
                //     }
                //     ion-radio{
                //         --color:transparent;
                //         --color-checked: transparent;
                //     }
                //     .bg-type-text{
                //         background-color:#fff;
                //         border:1px solid #00A14D;
                //         padding: 10px;
                //         @include set-font('OpenSans-SemiBold', 16px, #00A14D);  
                //         text-align: center;
                //         @media screen and (max-width: 374px) {
                //             @include set-font('OpenSans-SemiBold', 12px, #00A14D);  
                //         }
                //     }
                // }
            
            }
       }  
    }
}
